### **1 - Ordenar Dataframes y Series**

In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv('flights.csv')

df

     year      month  passengers
0    1949    January         112
1    1949   February         118
2    1949      March         132
3    1949      April         129
4    1949        May         121
..    ...        ...         ...
139  1960     August         606
140  1960  September         508
141  1960    October         461
142  1960   November         390
143  1960   December         432

[144 rows x 3 columns]

#### **`DATAFRAMES`**

#### **sort_values()**

In [7]:
# Ordena un DATAFRAME según una columna. Por defecto, los ordena de manera ascendente
df.sort_values('passengers')

     year     month  passengers
10   1949  November         104
0    1949   January         112
22   1950  November         114
12   1950   January         115
1    1949  February         118
..    ...       ...         ...
137  1960      June         535
126  1959      July         548
127  1959    August         559
139  1960    August         606
138  1960      July         622

[144 rows x 3 columns]

In [6]:
# Ordena un DATAFRAME según una columna. Por defecto, los ordena de manera ascendente. Si dejamos 'ascending' en 'False' ordenara 
# de manera descendente
df.sort_values('passengers', ascending=False)

     year     month  passengers
138  1960      July         622
139  1960    August         606
127  1959    August         559
126  1959      July         548
137  1960      June         535
..    ...       ...         ...
11   1949  December         118
12   1950   January         115
22   1950  November         114
0    1949   January         112
10   1949  November         104

[144 rows x 3 columns]

#### **`SERIES`**

#### **sort_index()**

In [8]:
df['month']

0        January
1       February
2          March
3          April
4            May
         ...
139       August
140    September
141      October
142     November
143     December
Name: month, Length: 144, dtype: object

Ordena según el indice. En este ejemplo, el metodo **`value_counts()`** nos ayuda a obtener la cantidad de cada categoria (frecuencia) y como todos los meses tienen la misma cantidad, se generará un indice por orden alfabetico, el cual lo utilizamos usando el metodo **`sort_index()`**

In [16]:
display(df['month'].value_counts())

df['month'].value_counts().sort_index()

January      12
February     12
March        12
April        12
May          12
June         12
July         12
August       12
September    12
October      12
November     12
December     12
Name: month, dtype: int64

April        12
August       12
December     12
February     12
January      12
July         12
June         12
March        12
May          12
November     12
October      12
September    12
Name: month, dtype: int64