### **15 - Devolver el tipo de dato de una columna**

In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv('flights.csv')
df

     year      month  passengers
0    1949    January         112
1    1949   February         118
2    1949      March         132
3    1949      April         129
4    1949        May         121
..    ...        ...         ...
139  1960     August         606
140  1960  September         508
141  1960    October         461
142  1960   November         390
143  1960   December         432

[144 rows x 3 columns]

#### **`DATAFRAME`**

#### **`>` info()**

Me devuelve información de las columnas, como también el tipo de datos de ellas

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 144 entries, 0 to 143
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   year        144 non-null    int64
 1   month       144 non-null    object
 2   passengers  144 non-null    int64
dtypes: int64(2), object(1)
memory usage: 3.5+ KB

#### **`>` dtypes**

Me permite conocer los tipos de datos de las columnas de un Dataframe

In [ ]:
df.dtypes

year           int64
month         object
passengers     int64
dtype: object

#### **`SERIE`**

Me devuelve información de la columna, como también el tipo de datos de ella

In [ ]:
df['passengers'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 144 entries, 0 to 143
Series name: passengers
Non-Null Count  Dtype
--------------  -----
144 non-null    int64
dtypes: int64(1)
memory usage: 1.2 KB

#### **`>` dtype**

Devuelve el tipo de dato de una columna

In [3]:
df['passengers'].dtype

dtype('int64')

Recorriendo el dataframe columna por columna

In [4]:
for colname, serie in df.iteritems():
    print(serie.dtype)

int64
object
int64