### **16 - Nulos y ceros en una columna**

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('flights.csv')
df

     year      month  passengers
0    1949    January         112
1    1949   February         118
2    1949      March         132
3    1949      April         129
4    1949        May         121
..    ...        ...         ...
139  1960     August         606
140  1960  September         508
141  1960    October         461
142  1960   November         390
143  1960   December         432

[144 rows x 3 columns]

Cantidad de nulos por columna
Porcentaje de nulos por columna
Cantidad de 0 (numericos)
Porcentaje de ceros (numericos)
Tipo de dato

#### **`>` info()**

Me devuelve información de las columnas, como también el tipo de datos de ellas

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 144 entries, 0 to 143
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   year        144 non-null    int64
 1   month       144 non-null    object
 2   passengers  144 non-null    int64
dtypes: int64(2), object(1)
memory usage: 3.5+ KB

In [11]:
df['passengers'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 144 entries, 0 to 143
Series name: passengers
Non-Null Count  Dtype
--------------  -----
144 non-null    int64
dtypes: int64(1)
memory usage: 1.2 KB

#### **`>` isnull()**

#### Ejemplo 1

In [5]:
df.isnull()

      year  month  passengers
0    False  False       False
1    False  False       False
2    False  False       False
3    False  False       False
4    False  False       False
..     ...    ...         ...
139  False  False       False
140  False  False       False
141  False  False       False
142  False  False       False
143  False  False       False

[144 rows x 3 columns]

In [12]:
df['passengers'].isnull()

0      False
1      False
2      False
3      False
4      False
       ...
139    False
140    False
141    False
142    False
143    False
Name: passengers, Length: 144, dtype: bool

#### Ejemplo 2

Nos cuenta cuantos nulos existen en la columna **`year`** del dataframe

In [24]:
# No hay nulos
df[df.isnull() == True]['year'].value_counts(ascending=True)

Series([], Name: year, dtype: int64)

In [23]:
# Nos cuenta todo lo que NO ES nulo y lo agrupa según año (Frecuencia)
df[df.isnull() == False]['year'].value_counts(ascending=True)

1949    12
1950    12
1951    12
1952    12
1953    12
1954    12
1955    12
1956    12
1957    12
1958    12
1959    12
1960    12
Name: year, dtype: int64

#### Ejemplo 3

In [32]:
# Calculamos por medio un FOR los nulos de las 3 columnas del Dataframe
for columna, serie in df.iteritems():
    resultado = df[df.isnull() == True][columna].value_counts(ascending=True)
    print(resultado)

Series([], Name: year, dtype: int64)
Series([], Name: month, dtype: int64)
Series([], Name: passengers, dtype: int64)

#### Ejemplo 4

In [36]:
# Una función que nos calcule los nulos de una columna en especifico
def nulos(columna, serie=''):
    resultado = df[df.isnull() == True][columna].value_counts(ascending=True)
    print(resultado)    

nulos('passengers')

Series([], Name: passengers, dtype: int64)