### **18 - Modificar un valor especifico de una columna de un Dataframe**

In [1]:
import pandas as pd
import numpy as np

#### **`>` at( )**

In [6]:
df = pd.DataFrame([[0, 2, 3], [0, 4, 1], [10, 20, 30]],index=[4, 5, 6], columns=['A', 'B', 'C'])
df

    A   B   C
4   0   2   3
5   0   4   1
6  10  20  30

In [3]:
df.at[4, 'B']

2

In [5]:
df.at[4, 'B'] = 10
df

    A   B   C
4   0  10   3
5   0   4   1
6  10  20  30