### **18 - Modificar o acceder a un valor especifico de una columna de un Dataframe**

In [1]:
import pandas as pd
import numpy as np

#### **`>` at( )**
Accede a un Ãºnico valor para un par de etiquetas fila/columna

#### Ejemplo 1

In [6]:
df = pd.DataFrame([[0, 2, 3], [0, 4, 1], [10, 20, 30]],index=[4, 5, 6], columns=['A', 'B', 'C'])
df

    A   B   C
4   0   2   3
5   0   4   1
6  10  20  30

Nos devuelve un valor especifico de acuerdo a coordenadas estipuladas

In [3]:
df.at[4, 'B']

2

Podemos modificar ese valor

In [5]:
df.at[4, 'B'] = 10
df

    A   B   C
4   0  10   3
5   0   4   1
6  10  20  30

#### **`>` loc( )**
Accede a un grupo de filas y columnas por etiqueta(s) o un array booleano.

#### Ejemplo 1

In [2]:
df = pd.DataFrame([[1, 2], [4, 5], [7, 8]],
     index=['cobra', 'viper', 'sidewinder'],
     columns=['max_speed', 'shield'])

df

            max_speed  shield
cobra               1       2
viper               4       5
sidewinder          7       8

In [3]:
df.loc['cobra', 'shield']

2

In [4]:
df.loc['cobra', 'shield'] = 10
df

            max_speed  shield
cobra               1      10
viper               4       5
sidewinder          7       8