### **19 - Crear un Dataframe**

In [1]:
import pandas as pd
import numpy as np

#### **`>` Dataframe( )**

#### Ejemplo 1

In [2]:
df = pd.DataFrame([[0, 2, 3], [0, 4, 1], [10, 20, 30]],
                  index=[4, 5, 6], columns=['A', 'B', 'C'])

df

    A   B   C
4   0   2   3
5   0   4   1
6  10  20  30