### **21 - Crear una Serie**

In [1]:
import pandas as pd
import numpy as np

#### **`>` Series( )**

In [3]:
s = pd.Series([20, 21, 12], index=['London', 'New York', 'Helsinki'])

s

London      20
New York    21
Helsinki    12
dtype: int64