### **27 - Convertir a mayúsculas o minúsculas nombres de columnas de un Dataframe**

In [3]:
import pandas as pd
import numpy as np

#### **`Convertir los nombres de las columnas en MAYUSCULAS`**

- Para convertir en minusculas, es el mismo proceso pero utilizando el metodo **`lower()`**

In [4]:
df = pd.read_csv('worldcup2014.csv')
df.shape

(32, 13)

In [5]:
df.head()

,team,continent,group,group_pos,cantidad_juegos,juegos_ganados,juegos_empatados,juegos_perdidos,goles_favor,goles_contra,goles_diferencia,puntos,clasificado
0,Brazil,southamerica,A,1,3,2,1,0,7,2,5,7,1
1,Mexico,northamerica,A,2,3,2,1,0,4,1,3,7,1
2,Croatia,europe,A,3,3,1,0,2,6,6,0,3,0
3,Cameroon,africa,A,4,3,0,0,3,1,9,−8,0,0
4,Netherlands,europe,B,1,3,3,0,0,10,3,7,9,1

In [6]:
df.columns

Index(['team', 'continent', 'group', 'group_pos', 'cantidad_juegos',
       'juegos_ganados', 'juegos_empatados', 'juegos_perdidos', 'goles_favor',
       'goles_contra', 'goles_diferencia', 'puntos', 'clasificado'],
      dtype='object')

In [7]:
list=[]
for i in df.columns:
    list.append(i.upper())
list

['TEAM',
 'CONTINENT',
 'GROUP',
 'GROUP_POS',
 'CANTIDAD_JUEGOS',
 'JUEGOS_GANADOS',
 'JUEGOS_EMPATADOS',
 'JUEGOS_PERDIDOS',
 'GOLES_FAVOR',
 'GOLES_CONTRA',
 'GOLES_DIFERENCIA',
 'PUNTOS',
 'CLASIFICADO']

In [9]:
list = [i.upper() for i in df.columns]
list

['TEAM',
 'CONTINENT',
 'GROUP',
 'GROUP_POS',
 'CANTIDAD_JUEGOS',
 'JUEGOS_GANADOS',
 'JUEGOS_EMPATADOS',
 'JUEGOS_PERDIDOS',
 'GOLES_FAVOR',
 'GOLES_CONTRA',
 'GOLES_DIFERENCIA',
 'PUNTOS',
 'CLASIFICADO']

In [10]:
df.columns = list

In [11]:
df.head()

,TEAM,CONTINENT,GROUP,GROUP_POS,CANTIDAD_JUEGOS,JUEGOS_GANADOS,JUEGOS_EMPATADOS,JUEGOS_PERDIDOS,GOLES_FAVOR,GOLES_CONTRA,GOLES_DIFERENCIA,PUNTOS,CLASIFICADO
0,Brazil,southamerica,A,1,3,2,1,0,7,2,5,7,1
1,Mexico,northamerica,A,2,3,2,1,0,4,1,3,7,1
2,Croatia,europe,A,3,3,1,0,2,6,6,0,3,0
3,Cameroon,africa,A,4,3,0,0,3,1,9,−8,0,0
4,Netherlands,europe,B,1,3,3,0,0,10,3,7,9,1