### **4 - Medidas estadisticas de resumen (o de tendencia central)**

In [10]:
import pandas as pd
import numpy as np
import scipy.stats as stats

In [3]:
df = pd.read_csv('flights.csv')

df

     year      month  passengers
0    1949    January         112
1    1949   February         118
2    1949      March         132
3    1949      April         129
4    1949        May         121
..    ...        ...         ...
139  1960     August         606
140  1960  September         508
141  1960    October         461
142  1960   November         390
143  1960   December         432

[144 rows x 3 columns]

#### **`SERIE`**

#### > **`Numpy`**

#### **Promedio: `mean()`**

In [5]:
var = df['passengers']
mean = np.mean(var)
mean

280.2986111111111

#### **Mediana: `median()`**

In [6]:
var = df['passengers']
mean = np.median(var)
mean

265.5

#### **Desviación Estándar (Desviación Típica): `std()`**

In [7]:
var = df['passengers']
mean = np.std(var)
mean

119.54904153277148

#### **Varianza: `var()`**

In [13]:
var = df['passengers']
mean = np.var(var)
mean

14291.97333140432

#### > **`Pandas`**

#### **Promedio: `mean()`**

In [4]:
var = df['passengers']
mean = var.mean()
mean

280.2986111111111

#### **Mediana: `median()`**

In [5]:
var = df['passengers']
mean = var.median()
mean

265.5

#### **Desviación Estándar (Desviación Típica): `std()`**

In [6]:
var = df['passengers']
mean = var.std()
mean

119.96631694294321

#### **Varianza: `var()`**

In [12]:
var = df['passengers']
mean = var.var()
mean

14391.917200854701

La varianza entregada por Pandas y Numpy es diferente. Ambos resultados son distintos. Esto porque en NUMPY utiliza por defecto el argumento grados de libertad igual a 0 y en Pandas este argumento es igual a 1. 

<center><img src="https://i.postimg.cc/QdMT5SGy/dl3.png"></center>
<center><img src="https://i.postimg.cc/FHnJxchs/dl4.png"></center>

Por tanto, en Panda debemos igualarlo a 0:

In [14]:
df['passengers'].var(ddof=0)

14291.97333140432

In [15]:
np.var(df['passengers'])

14291.97333140432

Para que quede mas claro esto de los **`GRADOS DE LIBERTAD`**:

Siendo esta la formula de la **`VARIANZA`**, la libreria de **`Pandas`** el denominador lo utiliza **`(n - 1)`**, exactamente igual que en la imagen, siendo el **`1`** el **grado de libertad**. En caso contrario, la libreria de **`Numpy`**, utiliza como denominador **`(n)`**, dado que por defecto su **grado de libertad** es igual a **`0`**.

<center><img src="https://i.postimg.cc/05SSYZWt/dl5.png"></center>

Al dar un valor al grado de libertad, le estamos dando un grado mayor de libertad a las variables, dado que al tener un valor menor en el denominador tendremos un valor de la dispersión aún más grande de acuerdo al promedio, lo cual nos da un rango de libertad de accion para reaccionar segun el caso que estemos estudiando y sus datos. Mientras menor sea el grado de libertad menor tiempo de reaccion.

<center><img src="https://i.postimg.cc/Dwgb6kp2/dl6.png"></center>

#### > **`Scipy`**

#### **Moda: `mode()`**

In [11]:
stats.mode(df['passengers'])

ModeResult(mode=229, count=3)