### **8 - Devolver el numero de columnas de un Dataframe**

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('flights.csv')
df

     year      month  passengers
0    1949    January         112
1    1949   February         118
2    1949      March         132
3    1949      April         129
4    1949        May         121
..    ...        ...         ...
139  1960     August         606
140  1960  September         508
141  1960    October         461
142  1960   November         390
143  1960   December         432

[144 rows x 3 columns]

#### **`Forma 1`**

In [6]:
# Nos devuelve la dimension del Dataframe
df.shape

(144, 3)

In [5]:
df.shape[1]

3

#### **`Forma 2`**

In [8]:
df.dtypes

year           int64
month         object
passengers     int64
dtype: object

In [7]:
len(df.dtypes)

3