### **8 - Devolver el indice**

In [1]:
import pandas as pd
import numpy as np

In [4]:
df = pd.read_csv('flights.csv')
df

     year      month  passengers
0    1949    January         112
1    1949   February         118
2    1949      March         132
3    1949      April         129
4    1949        May         121
..    ...        ...         ...
139  1960     August         606
140  1960  September         508
141  1960    October         461
142  1960   November         390
143  1960   December         432

[144 rows x 3 columns]

#### **`DATAFRAME`**

#### **index**

In [6]:
# Informacion del numero de indices: Comienza en 0, termina en 144 y avanza 1 en 1
df.index

RangeIndex(start=0, stop=144, step=1)

#### **`SERIE`**

#### **index**

In [7]:
for i in df['passengers'].index:
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143

In [8]:
# Informacion del numero de indices: Comienza en 0, termina en 144 y avanza 1 en 1
df['passengers'].index

RangeIndex(start=0, stop=144, step=1)