### **8 - Devolver el nombre de las columnas**

In [1]:
import pandas as pd
import numpy as np

In [2]:
dp = pd.read_csv('datos_persona.csv')
dp

   indice sexo  altura  peso     nombre
0       0    F    1.64    68    Javiera
1       1    M    1.53    43       Jose
2       2    M    1.87    90      Tomas
3       3    F    1.67    95      Maria
4       4    M    2.01   100       Jose
5       5    F    1.45    50  Magdalena
6       6    F    1.67    67   Trinidad
7       7    M    1.93   102    Gonzalo
8       8    M    1.72    76      David
9       9    M    1.64    68     Javier

#### **`Forma 1`**

In [3]:
dp.columns

Index(['indice', 'sexo', 'altura', 'peso', 'nombre'], dtype='object')

In [6]:
for i in dp.columns:
    print(i)

indice
sexo
altura
peso
nombre

In [4]:
dp.columns.values

array(['indice', 'sexo', 'altura', 'peso', 'nombre'], dtype=object)

In [5]:
for i in dp.columns.values:
    print(i)

indice
sexo
altura
peso
nombre

#### **`Forma 2` - iteritems()**

- La direcci√≥n de recorrido es hacia la **`DERECHA`**
- Recorro columna por columna el Dataframe
- Me permite recorrer los nombres de las columnas**

In [7]:
for colname, serie in dp.iteritems():
    print(colname)

indice
sexo
altura
peso
nombre