### **Desafío - Funciones y probabilidad básica**

#### **`Desafío 1: Generación de funciones`**

● Genere funciones para calcular la media y varianza de un vector. Debe cumplir con los siguientes requisitos:

    ○ Ambas funciones deben ingresar un argumento ​x​ correspondiente al vector.
    ○ Las funciones deben contener ​docstrings con la documentación asociada a la variable y retornar un valor utilizando ​return​.
    ○ La función de la varianza debe llamar a la función de la media.

● Utilice las funciones para reportar la información sobre ​goles_favor​,​ goles_contra y  ​puntos​.

In [1]:
import pandas as pd
import numpy as np

In [25]:
def media(x):
    """Esta función tiene un sólo argumento, la función media() calcula y retorna el promedio o media de una lista o columna que se entregue como argumento"""
    return np.mean(x)
    
def varianza(x):
    """Esta función tiene un sólo argumento, la función varianza() calcula y retorna la varianza de una lista o columna que se entregue como argumento"""
    variable = 0
    for i in x:
        variable += (i-media(x))**2
    return variable/(len(x))

In [18]:
import pandas as pd
import numpy as np

path = 'worldcup2014.csv'
df = pd.read_csv(path)
df.head()

,team,continent,group,group_pos,cantidad_juegos,juegos_ganados,juegos_empatados,juegos_perdidos,goles_favor,goles_contra,goles_diferencia,puntos,clasificado
0,Brazil,southamerica,A,1,3,2,1,0,7,2,5,7,1
1,Mexico,northamerica,A,2,3,2,1,0,4,1,3,7,1
2,Croatia,europe,A,3,3,1,0,2,6,6,0,3,0
3,Cameroon,africa,A,4,3,0,0,3,1,9,−8,0,0
4,Netherlands,europe,B,1,3,3,0,0,10,3,7,9,1

In [30]:

print("goles_favor")
print(np.mean(df['goles_favor']) == media(df['goles_favor']))
print(np.std(df['goles_favor']) == varianza(df['goles_favor'])**(1/2))
print()
print("goles_contra")
print(np.mean(df['goles_contra']) == media(df['goles_contra']))
print(np.std(df['goles_contra']) == varianza(df['goles_contra'])**(1/2))
print()
print("puntos")
print(np.mean(df['puntos']) == media(df['puntos']))
print(np.std(df['puntos']) == varianza(df['puntos'])**(1/2))

goles_favor
True
True

goles_contra
True
True

puntos
True
True

#### **`Desafío 2:`**

Utilizando el método ​groupby ​de la clase ​DataFrame​, ​en conjunto con la función​ .agg de pandas, calcule la media, la varianza y desviación estándar de la cantidad de goles a favor, en contra y de la cantidad de puntos por continente.

In [40]:
df.groupby('continent')[['goles_favor','goles_contra','puntos']].agg([np.sum,np.mean,np.var,np.std])

             goles_favor                               goles_contra            \
                     sum      mean       var       std          sum      mean
continent
africa                18  3.600000  3.300000  1.816590           28  5.600000
asia                   9  2.250000  0.916667  0.957427           25  6.250000
europe                62  4.769231  6.858974  2.618964           52  4.000000
northamerica          13  3.250000  2.250000  1.500000           14  3.500000
southamerica          34  5.666667  4.666667  2.160247           17  2.833333

                                  puntos
                    var       std    sum      mean        var       std
continent
africa         4.800000  2.190890     12  2.400000   3.300000  1.816590
asia           4.250000  2.061553      3  0.750000   0.250000  0.500000
europe         3.833333  1.957890     61  4.692308   6.897436  2.626297
northamerica  11.000000  3.316625     18  4.500000  11.000000  3.316625
southamerica   0.566667  0.752773     41  6.833333   3.766667  1.940790

##### **a) ¿En qué continente se observa una mayor cantidad de `goles a favor`?**

In [27]:
print("Según mi resultado anterior, en \033[4mEuropa\033[0m se observa la mayor cantidad de goles a favor con un valor de \033[4m62 goles\033[0m")

Según mi resultado anterior, en Europa se observa la mayor cantidad de goles a favor con un valor de 62 goles

##### **b) ¿En qué continente se observa una mayor cantidad de `goles en contra`?**

In [28]:
print("Según mi resultado anterior, en \033[4mEuropa\033[0m se observa la mayor cantidad de goles en contra con un valor de \033[4m52 goles\033[0m")

Según mi resultado anterior, en Europa se observa la mayor cantidad de goles en contra con un valor de 52 goles

##### **c) ¿En qué continente se observa una mayor cantidad de `puntos en promedio`?**

In [29]:
print("Según mi resultado anterior, en \033[4mSouthamerica\033[0m se observa el mayor promedio de goles con un valor de \033[4m6.833333 goles por país\033[0m")

Según mi resultado anterior, en Southamerica se observa el mayor promedio de goles con un valor de 6.833333 goles por país

#### **`Desafío 3: Simulaciones`**

Genere una función ​generate_pet que devuelva de forma aleatoria un string 'perro'​ o ​'gato', ​​un ​número ​n​ de veces. Ejecútela un par de veces.

○ **Tip**: Puede utilizar la función ​np.random.choice para retornar elementos al azar.

In [64]:
def generate_pet(p):
    var = np.random.choice(2,p)
    result = []
    for i in var:
      if i == 0:
        result.append('perro')
      else:
        result.append('gato')
    return result

generate_pet(15)

['gato',
 'perro',
 'gato',
 'perro',
 'gato',
 'perro',
 'perro',
 'perro',
 'gato',
 'perro',
 'perro',
 'gato',
 'perro',
 'perro',
 'gato']

##### **a) Aplique la función ​generate_pet​ para generar 20 muestras**

In [118]:
gen_20 = generate_pet(20)
gen_20

['gato',
 'gato',
 'perro',
 'perro',
 'perro',
 'perro',
 'perro',
 'perro',
 'perro',
 'perro',
 'gato',
 'perro',
 'perro',
 'gato',
 'gato',
 'perro',
 'gato',
 'perro',
 'gato',
 'perro']

##### **b) ¿Cuál es la probabilidad de elegir un perro al azar? ¿Y un gato?**

In [126]:
df_3 = pd.DataFrame(gen_20, columns = ["resultado"]).value_counts(normalize = True)
print("El resultado normalizado de a) fue el siguiente:\n")
print(df_3)
print(f"\nPor tanto:\n\nLa probabilidad de elegir un perro es de {df_3['perro'][0]}\nLa probabilidad de elegir un gato es de {df_3['gato'][0]}")

El resultado normalizado de a) fue el siguiente:

resultado
perro        0.65
gato         0.35
dtype: float64

Por tanto:

La probabilidad de elegir un perro es de 0.65
La probabilidad de elegir un gato es de 0.35

##### c) **Agregue​n np.random.seed(2) al inicio del chunk. ¿Qué diferencia hay cuando se ejecuta la función varias veces luego de fijar la semilla?**

In [134]:
def generate_pet2(p):
    np.random.seed(2) #fijando seed dentro de la función
    var = np.random.choice(2,p)
    result = []
    for i in var:
      if i == 0:
        result.append('perro')
      else:
        result.append('gato')
    return result

for i in range(5):
  df_3 = pd.DataFrame(generate_pet2(20), columns = ["resultado"]).value_counts(normalize = True)
  print(f"\nexperimento {i+1}:\n\nLa probabilidad de elegir un perro es de {df_3['perro'][0]}\nLa probabilidad de elegir un gato es de {df_3['gato'][0]}")

experimento 1:

La probabilidad de elegir un perro es de 0.4
La probabilidad de elegir un gato es de 0.6

experimento 2:

La probabilidad de elegir un perro es de 0.4
La probabilidad de elegir un gato es de 0.6

experimento 3:

La probabilidad de elegir un perro es de 0.4
La probabilidad de elegir un gato es de 0.6

experimento 4:

La probabilidad de elegir un perro es de 0.4
La probabilidad de elegir un gato es de 0.6

experimento 5:

La probabilidad de elegir un perro es de 0.4
La probabilidad de elegir un gato es de 0.6

In [137]:
print("Cuando se fija seed, los resultados de todas las funciones random de numpy arrojarán el mismo resultado.\nPor lo tanto la función que definimos arrojará siempre los mismo resultados también.")

Cuando se fija seed, los resultados de todas las funciones random de numpy arrojarán el mismo resultado.
Por lo tanto la función que definimos arrojará siempre los mismo resultados también.

#### **`Desafío 4: Función simuladora`**

Genere una función llamada ​simulate_pets_prob que tome como argumento un número finito de simulaciones a generar.

●La función debe simular dos situaciones ​young_pet y ​old_pet​, y contar la ocurrencia de los siguientes casos:

    ○ OR: De las dos mascotas simuladas (young y old), contar las ocasiones donde por lo menos una de las mascotas sea un perro.

    ○ J_OLD_PET: De las dos mascotas simuladas, contar las ocasiones donde ​old_pet​ sea un perro.

    ○ AND: De las dos mascotas simuladas, contar las ocasiones donde los dos sean perros.

●El método debe tener una semilla pseudo aleatoria de 1.

●El output de la función debe entregarse en términos de Probabilidad.

In [165]:
def simulate_pets_prob(n):
    #fijo la seed
    np.random.seed(1)

    #Supongo que la idea es que de manera aleatoria tanto your_pet como old_pet sea perro o gato
    posibilidades = ['perro','gato']
    young_pet = list(np.random.choice(posibilidades,n))
    old_pet   = list(np.random.choice(posibilidades,n))

    #Creo el DF con las simulaciones
    df = pd.DataFrame({"young_pet":young_pet,"old_pet":old_pet})
    
    #Creo nuevas columnas para saber num1, num2, num3
    df['OR'] = np.where((df['young_pet'] == "perro") | (df['old_pet'] == 'perro'), 1, 0)
    df['J_OLD_PET'] = np.where(df['old_pet'] == 'perro', 1, 0)
    df['AND'] = np.where((df['young_pet'] == "perro") & (df['old_pet'] == 'perro'), 1, 0)
    print(f"La probabilidad de que al menos una de las mascotas sea perro es de {np.sum(df['OR'])/n}\nLa probabilidad de que old_pet sea perro es de {np.sum(df['J_OLD_PET'])/n}\nPor último la probabilidad de que ambas mascotas sean perro es de {np.sum(df['AND'])/n}")
simulate_pets_prob(100000)

La probabilidad de que al menos una de las mascotas sea perro es de 0.75259
La probabilidad de que old_pet sea perro es de 0.50057
Por último la probabilidad de que ambas mascotas sean perro es de 0.25027

##### **De los tres escenarios, ¿Cuál es el menos probable?¿Cuál es el más probable? ¿Porqué?**

In [168]:
print("""
El espacio muestral para cada simulación es {['gato','gato'], ['gato','perro'],['perro','gato'],['perro','perro']}.

Por tanto, a la larga (n-->infinito) el experimento tiende a ser lo mismo que si tomáramos un elemento al azar dentro del espacio muestral del párrafo anterior, cada uno tiene igual probabilidad de ocurrir.

Viéndolo de este modo, el escenario menos probable tiene que ser el tercer escenario, dado que el escenario cumple sólo para 1 de los 4 elementos del espacio muestral.
Análogamente, el más probable es el primer escenario, dado que 3 de lo 4 elementos cumplen con este escenario.
""")

El espacio muestral para cada simulación es {['gato','gato'], ['gato','perro'],['perro','gato'],['perro','perro']}.

Por tanto, a la larga (n-->infinito) el experimento tiende a ser lo mismo que si tomáramos un elemento al azar dentro del espacio muestral del párrafo anterior, cada uno tiene igual probabilidad de ocurrir.

Viéndolo de este modo, el escenario menos probable tiene que ser el tercer escenario, dado que el escenario cumple sólo para 1 de los 4 elementos del espacio muestral.
Análogamente, el más probable es el primer escenario, dado que 3 de lo 4 elementos cumplen con este escenario.