### **Desafío guiado - Modelamiento y gestión de bases de datos**

### **`Instalación de PostgresSQL`**

Para utilizar PostgresSQL desde la consola de comando debemos:

1. Buscamos `Editar las variables del entorno del sistema` > `Variables de entorno`
2. En `Variables de usuario para Alfonso` escogemos `Path` e ingresamos la ruta `C:\Program Files\PostgreSQL\15\bin` (version de Postgres que tengo instalada)
3. En `Variables del sistema` escogemos `Path` e ingresamos la ruta `C:\Program Files\PostgreSQL\15\bin` (version de Postgres que tengo instalada)

### **`Utilización de PostgresSQL desde consola`**

1. Ingresamos el comando `psql -U nombre_de_usuario` e ingresamos la contraseña (`usuario`: postgres)
2. Podemos revisar los usuarios que tienen acceso a nuestra base de datos con el comando `SELECT * FROM pg_user;`
3. En la consola de PostgreSQL existen una serie de comandos que nos van a permitir conectarnos a bases de datos, listar tablas y usuarios.

A continuación se presenta una tabla con los comandos más utilizados.

|  Comando | Acción  |
|---|---|
| \c  | Conectarse a una base de datos específica. Por ejemplo: `\c biblioteca`  |
| \l | Listar todas las bases de datos existentes.  |
| \i | Correr un archivo .sql. Por ejemplo: `\i p1.sql`  |
| \du  | Listar todos los usuarios existentes en el motor.  |
| \dt  | Listar todas las relaciones (o tablas) existentes en una base de datos específica.  |
| \d  | Listar todas las columnas de una tabla. Por ejemplo: `\d libro`  |
| \ ?  | Listar todos los comandos que se pueden utilizar (pulsamos `q` para salirnos de la lista) |
| \ !   | Me permite correr codigos bash. Por ejemplo: `\! cls`, `\! dir` |
| \q  | Salir de la consola de PostgreSQL.  |

### **`Desafío 1`**

1 - Cree la base de datos llamada `Biblioteca`

In [ ]:
CREATE DATABASE Biblioteca;

Escogemos la base de datos:

In [ ]:
\c biblioteca

2 - En esta, cree la tabla `Libro`, cuyas campos seran _id_libro_ (clave primaria), _nombre_libro_, _autor_, _genero_

In [ ]:
CREATE TABLE Libro(
id_libro INT,
nombre_libro VARCHAR(50),
autor VARCHAR(50),
genero VARCHAR(50),
PRIMARY KEY(id_libro)
);

3 - Ingrese el libro llamado _Sapo y Sepo_, el resto de los datos debe inventarlos

In [ ]:
INSERT INTO libro (id_libro, nombre_libro, autor, genero) VALUES (1, 'Sapo y Sepo', 'Arnold Lobel', 'Infantil');

4 - Ingrese el libro llamado _La Metamorfosis_, el resto de los datos debe inventarlos

In [ ]:
INSERT INTO libro (id_libro, nombre_libro, autor, genero) VALUES (2, 'La Mefamorfosis', 'Frank Kafka', 'Literatura');

5 - Cree la tabla `​Prestamo​`, que contenga los campos _​id_prestamo_ (clave primaria), _id_libro_ (clave foranea referenciando a ​id_libro en ​Libro​), _​nombre_persona​_, _fecha_inicio​_ y _​fecha_termino​_.

In [ ]:
CREATE TABLE Prestamo(
id_prestamo INT,
id_libro INT,
nombre_persona VARCHAR(50),
fecha_inicio DATE,
fecha_termino DATE,
PRIMARY KEY(id_prestamo),
FOREIGN KEY(id_libro) REFERENCES libro(id_libro)
);

6 - Añada la columna _​prestado​_ (booleano) a la tabla `​Libro​`

In [ ]:
ALTER TABLE libro
ADD prestado BOOLEAN DEFAULT(False);

7 - Ingresar el estado de _​prestamo​_ de _Sapo y Sepo_

In [ ]:
UPDATE libro 
SET prestado = True 
WHERE nombre_libro = 'Sapo y Sepo';

8 - Ingresar el estado de _​prestamo​_ de _La Metamorfosis_

In [ ]:
UPDATE libro 
SET prestado = True 
WHERE nombre_libro = 'La Mefamorfosis';

9 - Ingrese 5 préstamos asociados a _Sapo y Sepo_

In [ ]:
INSERT INTO prestamo (id_prestamo, id_libro, nombre_persona, fecha_inicio, fecha_termino) VALUES (1, 1, 'Alfonso Perez', '2020-11-01', '2020-11-05');
INSERT INTO prestamo (id_prestamo, id_libro, nombre_persona, fecha_inicio, fecha_termino) VALUES (2, 1, 'Darling Arriagada', '2020-11-06', '2020-11-10');
INSERT INTO prestamo (id_prestamo, id_libro, nombre_persona, fecha_inicio, fecha_termino) VALUES (3, 1, 'Jose Machuca', '2020-11-11', '2020-11-15');
INSERT INTO prestamo (id_prestamo, id_libro, nombre_persona, fecha_inicio, fecha_termino) VALUES (4, 1, 'Pedro Pedrales', '2020-11-16', '2020-10-20');
INSERT INTO prestamo (id_prestamo, id_libro, nombre_persona, fecha_inicio, fecha_termino) VALUES (5, 1, 'Matias Rios', '2021-11-21', '2021-11-25');

10 - Ingrese 6 préstamos asociados a _La Metamorfosis_

In [ ]:
INSERT INTO prestamo (id_prestamo, id_libro, nombre_persona, fecha_inicio, fecha_termino) VALUES (6, 2, 'Alfonso Perez', '2020-11-01', '2020-11-05');
INSERT INTO prestamo (id_prestamo, id_libro, nombre_persona, fecha_inicio, fecha_termino) VALUES (7, 2, 'Darling Arriagada', '2020-11-06', '2020-11-10');
INSERT INTO prestamo (id_prestamo, id_libro, nombre_persona, fecha_inicio, fecha_termino) VALUES (8, 2, 'Jose Machuca', '2020-11-11', '2020-11-15');
INSERT INTO prestamo (id_prestamo, id_libro, nombre_persona, fecha_inicio, fecha_termino) VALUES (9, 2, 'Pedro Pedrales', '2020-11-16', '2020-10-20');
INSERT INTO prestamo (id_prestamo, id_libro, nombre_persona, fecha_inicio, fecha_termino) VALUES (10, 2, 'Matias Rios', '2021-11-21', '2021-11-25');

11 - Cree un nuevo libro

In [ ]:
INSERT INTO libro (id_libro, nombre_libro, autor, genero) VALUES (3, 'Papelucho Historiador', 'Marcela Paz', 'Infantil');

12 - Seleccione los libros y las personas quienes lo pidieron prestado (_​nombre_libro_ y _nombre_persona​_).

In [ ]:
SELECT 
    l.nombre_libro, 
    l.autor, 
    l.genero, 
    p.nombre_persona 
FROM 
    libro l
INNER JOIN 
    prestamo p
ON l.id_libro = p.id_libro;

13 - Seleccione todas las columnas de la tabla `​Prestamo` para los préstamos de _Sapo y Sepo_, ordenados decrecientemente por _​fecha_de_inicio​_

In [ ]:
SELECT 
    * 
FROM 
    prestamo 
WHERE 
    id_libro=1 
ORDER BY 
    fecha_inicio DESC;