### **Desafío evaluado**

### **`Utilización de PostgresSQL desde consola`**

1. Ingresamos el comando `psql -U nombre_de_usuario` e ingresamos la contraseña (`usuario`: postgres)
2. Podemos revisar los usuarios que tienen acceso a nuestra base de datos con el comando `SELECT * FROM pg_user;`
3. En la consola de PostgreSQL existen una serie de comandos que nos van a permitir conectarnos a bases de datos, listar tablas y usuarios.

A continuación se presenta una tabla con los comandos más utilizados.

|  Comando | Acción  |
|---|---|
| \c  | Conectarse a una base de datos específica. Por ejemplo: `\c biblioteca`  |
| \l | Listar todas las bases de datos existentes.  |
| \i | Correr un archivo .sql. Por ejemplo: `\i p1.sql`  |
| \du  | Listar todos los usuarios existentes en el motor.  |
| \dt  | Listar todas las relaciones (o tablas) existentes en una base de datos específica.  |
| \d  | Listar todas las columnas de una tabla. Por ejemplo: `\d libro`  |
| \ ?  | Listar todos los comandos que se pueden utilizar (pulsamos `q` para salirnos de la lista) |
| \ !   | Me permite correr codigos bash. Por ejemplo: `\! cls`, `\! dir` |
| \q  | Salir de la consola de PostgreSQL.  |

### **`Desafio 1`**

Crear una base de datos mediante PostgresSQL basándonos en los artistas más escuchados en Spotify del 2018, para eso, es necesario que usted cree las siguientes tablas con sus respectivos datos:

- Artista
    - nombre_artista
    - fecha_de_nacimiento
    - nacionalidad

- Cancion
    - titulo_cancion
    - artista
    - album
    - numero_del_track

- Album
    - titulo_album
    - artista
    - anio

1 - Creaci�n de Base de datos `Spotify`

In [ ]:
CREATE DATABASE Spotify;

Escogemos la base de datos:

In [ ]:
\c spotify

2 - Creación tabla `artista`

In [ ]:
CREATE TABLE artista(
    id_artista INT,
    nombre_artista VARCHAR(50) NOT NULL,
    fecha_de_nacimiento DATE NOT NULL,
    nacionalidad VARCHAR(50) NOT NULL,
    PRIMARY KEY(id_artista)
);

Importamos los datos desde un CSV a la tabla en PostgresSQL:

In [ ]:
COPY 
    artista(id_artista, nombre_artista, fecha_de_nacimiento, nacionalidad)
FROM 'C:/github/desafio_latam_data_science/4-SQL_para_Data_Science/Modulo_1_Modelamiento_y_gestion_de_bases_de_datos/desafios/Artista.csv' 
DELIMITER ','
CSV HEADER;

3 - Creación tabla `album`

In [ ]:
CREATE TABLE album(
    id_album INT,
    titulo_album VARCHAR(50) NOT NULL,
    id_artista INT NOT NULL,
    anio INT NOT NULL,
    PRIMARY KEY(id_album),
    FOREIGN KEY(id_artista) REFERENCES artista(id_artista)
);

Importamos los datos desde un CSV a la tabla en PostgresSQL:

In [ ]:
COPY 
    album(id_album, titulo_album, id_artista, anio)
FROM 'C:/github/desafio_latam_data_science/4-SQL_para_Data_Science/Modulo_1_Modelamiento_y_gestion_de_bases_de_datos/desafios/Album.csv' 
DELIMITER ','
CSV HEADER;

4 - Creación tabla `cancion`

In [ ]:
CREATE TABLE cancion(
    titulo_cancion VARCHAR(50) NOT NULL,
    id_album INT NOT NULL,
    numero_del_track INT NOT NULL,
    PRIMARY KEY(id_album, numero_del_track),
    FOREIGN KEY(id_album) REFERENCES album(id_album)    
);

Importamos los datos desde un CSV a la tabla en PostgresSQL:

In [ ]:
COPY 
    cancion(titulo_cancion, id_album, numero_del_track)
FROM 'C:/github/desafio_latam_data_science/4-SQL_para_Data_Science/Modulo_1_Modelamiento_y_gestion_de_bases_de_datos/desafios/Cancion.csv' 
DELIMITER ','
CSV HEADER;

### **`Desafío 2`**

Ingrese los datos del archivo _Artistas_populares_2018_ a sus respectivas tablas y responda las siguientes consultas:

1 - Canciones que salieron el año 2018

In [ ]:
SELECT c.titulo_cancion, a.anio FROM cancion c LEFT JOIN album a ON c.id_album = a.id_album WHERE anio = 2018;

2 - Albums y la nacionalidad de su artista

In [ ]:
SELECT a.titulo_album, b.nacionalidad FROM album a LEFT JOIN artista b ON b.id_artista = a.id_artista;

3 - Numero de track, cancion, album, año de lanzamiento y artista donde las canciones deberán estar ordenadas por año de lanzamiento del albúm, albúm y artista correspondiente

In [ ]:
SELECT 
    c.numero_del_track,
    c.titulo_cancion,
    b.titulo_album, 
    b.anio, 
    a.nombre_artista 
FROM 
    cancion c
LEFT JOIN 
    album b
ON 
    b.id_album = c.id_album
LEFT JOIN 
    artista a
ON b.id_artista = a.id_artista;