### **norm.fit()**

#### **`Ejemplos`**

##### **Ejemplo 1**

In [2]:
import pandas as pd
import numpy as np
from scipy import stats

In [3]:
url = ('https://raw.githubusercontent.com/JoaquinAmatRodrigo/' +
       'Estadistica-machine-learning-python/master/data/Howell1.csv')
datos = pd.read_csv(url)
print(datos.info())
datos.head(4)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 544 entries, 0 to 543
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   height  544 non-null    float64
 1   weight  544 non-null    float64
 2   age     544 non-null    float64
 3   male    544 non-null    int64
dtypes: float64(3), int64(1)
memory usage: 17.1 KB
None

    height     weight   age  male
0  151.765  47.825606  63.0     1
1  139.700  36.485807  63.0     0
2  136.525  31.864838  65.0     0
3  156.845  53.041914  41.0     1

De todos los datos disponibles se seleccionan únicamente mujeres mayores de 15 años.

In [4]:
datos = datos[(datos.age > 15) & (datos.male == 0)]
peso = datos['weight']
peso

1      36.485807
2      31.864838
4      41.276872
6      38.243476
8      34.869885
         ...
529    39.405805
533    40.823280
534    47.031821
537    34.246196
541    54.062497
Name: weight, Length: 198, dtype: float64

In [11]:
np.mean(peso)

41.38615752272727

In [12]:
np.std(peso)

5.737813252284781

In [9]:
# Valores de la media (mu) y desviación típica (sigma) de los datos
mu, sigma = stats.norm.fit(peso)

print(mu)
print(sigma)

41.38615752272728
5.737813252284781