### **23 - Valores Ãºnicos en una columna**

In [1]:
import pandas as pd
import numpy as np

### **`SERIE`**

#### **`>` unique()**

##### Ejemplo 1

In [ ]:
df = pd.read_csv('flights.csv')
df

In [4]:
df['month'].unique()

array(['January', 'February', 'March', 'April', 'May', 'June', 'July',
       'August', 'September', 'October', 'November', 'December'],
      dtype=object)

In [5]:
for mes in df['month'].unique():
    print(mes)

January
February
March
April
May
June
July
August
September
October
November
December

##### Ejemplo 2

In [ ]:
dp = pd.read_csv('datos_persona.csv')
dp

In [7]:
for sexo in dp['sexo'].unique():
    print(sexo)

F
M

In [9]:
for sexo in dp['sexo'].unique():
    print(f"{sexo}: {dp[dp['sexo']==sexo]['peso'].mean()}")

F: 70.0
M: 79.83333333333333