### **26 - Convertir a mayúsculas o minúsculas valores str de columnas de un Dataframe**

In [1]:
import pandas as pd
import numpy as np

#### **`Convertir valores str de las columnas en MAYUSCULAS`**

- Para convertir en minusculas, es el mismo proceso pero utilizando el metodo **`lower()`**

In [2]:
df = pd.read_csv('worldcup2014.csv')
df.shape

(32, 13)

In [3]:
df.head()

,team,continent,group,group_pos,cantidad_juegos,juegos_ganados,juegos_empatados,juegos_perdidos,goles_favor,goles_contra,goles_diferencia,puntos,clasificado
0,Brazil,southamerica,A,1,3,2,1,0,7,2,5,7,1
1,Mexico,northamerica,A,2,3,2,1,0,4,1,3,7,1
2,Croatia,europe,A,3,3,1,0,2,6,6,0,3,0
3,Cameroon,africa,A,4,3,0,0,3,1,9,−8,0,0
4,Netherlands,europe,B,1,3,3,0,0,10,3,7,9,1

In [5]:
df['team'].str.upper()

0                     BRAZIL
1                     MEXICO
2                    CROATIA
3                   CAMEROON
4                NETHERLANDS
5                      CHILE
6                      SPAIN
7                  AUSTRALIA
8                   COLOMBIA
9                     GREECE
10               IVORY COAST
11                     JAPAN
12                COSTA RICA
13                   URUGUAY
14                     ITALY
15                   ENGLAND
16                    FRANCE
17               SWITZERLAND
18                   ECUADOR
19                  HONDURAS
20                 ARGENTINA
21                   NIGERIA
22    BOSNIA AND HERZEGOVINA
23                      IRAN
24                   GERMANY
25             UNITED STATES
26                  PORTUGAL
27                     GHANA
28                   BELGIUM
29                   ALGERIA
30                    RUSSIA
31               SOUTH KOREA
Name: team, dtype: object

In [6]:
df.loc[:, ['team']] = df['team'].str.upper()

In [7]:
df

,team,continent,group,group_pos,cantidad_juegos,juegos_ganados,juegos_empatados,juegos_perdidos,goles_favor,goles_contra,goles_diferencia,puntos,clasificado
0,BRAZIL,southamerica,A,1,3,2,1,0,7,2,5,7,1
1,MEXICO,northamerica,A,2,3,2,1,0,4,1,3,7,1
2,CROATIA,europe,A,3,3,1,0,2,6,6,0,3,0
3,CAMEROON,africa,A,4,3,0,0,3,1,9,−8,0,0
4,NETHERLANDS,europe,B,1,3,3,0,0,10,3,7,9,1
5,CHILE,southamerica,B,2,3,2,0,1,5,3,2,6,1
6,SPAIN,europe,B,3,3,1,0,2,4,7,−3,3,0
7,AUSTRALIA,asia,B,4,3,0,0,3,3,9,−6,0,0
8,COLOMBIA,southamerica,C,1,3,3,0,0,9,2,7,9,1
9,GREECE,europe,C,2,3,1,1,1,2,4,−2,4,1
10,IVORY COAST,africa,C,3,3,1,0,2,4,5,−1,3,0
11,JAPAN,asia,C,4,3,0,1,2,2,6,−4,1,0
12,COSTA RICA,northamerica,D,1,3,2,1,0,4,1,3,7,1
13,URUGUAY,southamerica,D,2,3,2,0,1,4,4,0,6,1
14,ITALY,europe,D,3,3,1,0,2,2,3,−1,3,0
15,ENGLAND,europe,D,4,3,0,1,2,2,4,−2,1,0
16,FRANCE,europe,E,1,3,2,1,0,8,2,6,7,1
17,SWITZERLAND,europe,E,2,3,2,0,1,7,6,1,6,1
18,ECUADOR,southamerica,E,3,3,1,1,1,3,3,0,4,0
19,HONDURAS,northamerica,E,4,3,0,0,3,1,8,−7,0,0
20,ARGENTINA,southamerica,F,1,3,3,0,0,6,3,3,9,1
21,NIGERIA,africa,F,2,3,1,1,1,3,3,0,4,1
22,BOSNIA AND HERZEGOVINA,europe,F,3,3,1,0,2,4,4,0,3,0
23,IRAN,asia,F,4,3,0,1,2,1,4,−3,1,0
24,GERMANY,europe,G,1,3,2,1,0,7,2,5,7,1
25,UNITED STATES,northamerica,G,2,3,1,1,1,4,4,0,4,1
26,PORTUGAL,europe,G,3,3,1,1,1,4,7,−3,4,0
27,GHANA,africa,G,4,3,0,1,2,4,6,−2,1,0
28,BELGIUM,europe,H,1,3,3,0,0,4,1,3,9,1
29,ALGERIA,africa,H,2,3,1,1,1,6,5,1,4,1
30,RUSSIA,europe,H,3,3,0,2,1,2,3,−1,2,0
31,SOUTH KOREA,asia,H,4,3,0,1,2,3,6,−3,1,0