### **3 - Resumen estadistico de columnas**

In [1]:
import pandas as pd
import numpy as np

#### **`DATAFRAME`**

##### **`>` describe()**

In [ ]:
df = pd.read_csv('flights.csv')
df

In [4]:
# Calculo sobre solo las variables numericas
df.describe()

              year  passengers
count   144.000000  144.000000
mean   1954.500000  280.298611
std       3.464102  119.966317
min    1949.000000  104.000000
25%    1951.750000  180.000000
50%    1954.500000  265.500000
75%    1957.250000  360.500000
max    1960.000000  622.000000

In [3]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
year,144.0,1954.500000,3.464102,1949.0,1951.75,1954.5,1957.25,1960.0
passengers,144.0,280.298611,119.966317,104.0,180.00,265.5,360.50,622.0

In [6]:
# Calculo sobre solo todas las variables
df.describe(include='all')

               year    month  passengers
count    144.000000      144  144.000000
unique          NaN       12         NaN
top             NaN  January         NaN
freq            NaN       12         NaN
mean    1954.500000      NaN  280.298611
std        3.464102      NaN  119.966317
min     1949.000000      NaN  104.000000
25%     1951.750000      NaN  180.000000
50%     1954.500000      NaN  265.500000
75%     1957.250000      NaN  360.500000
max     1960.000000      NaN  622.000000

In [7]:
# Calculo sobre solo las variables string
df.describe(include=['O'])

          month
count       144
unique       12
top     January
freq         12

In [10]:
# Calcula el metodo sobre todo el DF y luego filtra la columna
df.describe()['year']

count     144.000000
mean     1954.500000
std         3.464102
min      1949.000000
25%      1951.750000
50%      1954.500000
75%      1957.250000
max      1960.000000
Name: year, dtype: float64

#### **`SERIE`**

##### **`>` describe()**

In [ ]:
df = pd.read_csv('flights.csv')
df

In [8]:
# Filtra la columna y luego aplica el metodo
df['year'].describe()

count     144.000000
mean     1954.500000
std         3.464102
min      1949.000000
25%      1951.750000
50%      1954.500000
75%      1957.250000
max      1960.000000
Name: year, dtype: float64

In [12]:
# Nos entrega todos los percentiles indicados
df['year'].describe(percentiles=[0.1,0.2,0.3,0.4,0.5,0.6,0.7,0.8,0.9])

# Por ejemplo: el Percentil 40 se lee de la siguiente manera:
# Donde el 40% de los datos de la columna'year' corresponden o son menores al a単o '1953'.

# Por ejemplo la desviacion estandar se lee de la siguiente manera:
# Aproximadamente la dispersion numerica entre los a単os es de 3,46, es decir, existe una separacion de 3,5 a単os aprox entre cada 
# a単o del conjunto de datos con respecto al promedio

count     144.000000
mean     1954.500000
std         3.464102
min      1949.000000
10%      1950.000000
20%      1951.000000
30%      1952.000000
40%      1953.000000
50%      1954.500000
60%      1956.000000
70%      1957.000000
80%      1958.000000
90%      1959.000000
max      1960.000000
Name: year, dtype: float64