### **`Desafío 1`**

Generar un par de arrays ficticios con numpy.

Tip: Utilice la función linspace para generar un array entre 1 y 50, y un array entre 50 y 150

In [1]:
import numpy as np

primer_array = np.linspace(1,50,50)
segundo_array = np.linspace(50,150,101)

print(primer_array)
print(segundo_array)

[ 1.  2.  3.  4.  5.  6.  7.  8.  9. 10. 11. 12. 13. 14. 15. 16. 17. 18.
 19. 20. 21. 22. 23. 24. 25. 26. 27. 28. 29. 30. 31. 32. 33. 34. 35. 36.
 37. 38. 39. 40. 41. 42. 43. 44. 45. 46. 47. 48. 49. 50.]
[ 50.  51.  52.  53.  54.  55.  56.  57.  58.  59.  60.  61.  62.  63.
  64.  65.  66.  67.  68.  69.  70.  71.  72.  73.  74.  75.  76.  77.
  78.  79.  80.  81.  82.  83.  84.  85.  86.  87.  88.  89.  90.  91.
  92.  93.  94.  95.  96.  97.  98.  99. 100. 101. 102. 103. 104. 105.
 106. 107. 108. 109. 110. 111. 112. 113. 114. 115. 116. 117. 118. 119.
 120. 121. 122. 123. 124. 125. 126. 127. 128. 129. 130. 131. 132. 133.
 134. 135. 136. 137. 138. 139. 140. 141. 142. 143. 144. 145. 146. 147.
 148. 149. 150.]

### **`Desafío 2`**

Ejecute un loop que devuelva si el número en el primer array es par o impar.

Tip: Utilice la función módulo para encontrar si el número es divisible por 2.

In [2]:
new_primer_array = []

for i in primer_array:
    if i % 2:
        new_primer_array.append("Par")
    else:
        new_primer_array.append("Impar")
print(new_primer_array)
print(f"El largo de este nuevo array es de {len(new_primer_array)}")

['Par', 'Impar', 'Par', 'Impar', 'Par', 'Impar', 'Par', 'Impar', 'Par', 'Impar', 'Par', 'Impar', 'Par', 'Impar', 'Par', 'Impar', 'Par', 'Impar', 'Par', 'Impar', 'Par', 'Impar', 'Par', 'Impar', 'Par', 'Impar', 'Par', 'Impar', 'Par', 'Impar', 'Par', 'Impar', 'Par', 'Impar', 'Par', 'Impar', 'Par', 'Impar', 'Par', 'Impar', 'Par', 'Impar', 'Par', 'Impar', 'Par', 'Impar', 'Par', 'Impar', 'Par', 'Impar']
El largo de este nuevo array es de 50

### **`Desafío 3`**

Genere un loop con el segundo array que cuente las siguientes condiciones:

a) Si el número es divisible por 2 o 3.

b) Si el número es divisible por 2 y 3.

c) Si el número es divisible por 3 pero no por 2.

d) Si el número no es divisible por 2 ni 3.

In [3]:
a = b = c = d = 0

for i in segundo_array:
    if (i % 2 == 0) or (i % 3 == 0):
        a +=1
    if (i % 2 == 0) & (i % 3 == 0):
        b +=1
    if (i % 3 == 0) & ~(i % 2 == 0):
        c +=1
    if ~(i % 2 == 0) & ~(i % 3 == 0):
        d +=1
        
print(f"a) Si el número es divisible por 2 o 3. La cantidad de estos casos es de {a}\nb) Si el número es divisible por 2 y 3. La cantidad de estos casos es de {b}\nc) Si el número es divisible por 3 pero no por 2. La cantidad de estos casos es de {c}\nd) Si el número no es divisible por 2 ni 3.La cantidad de estos casos es de {d}")

a) Si el número es divisible por 2 o 3. La cantidad de estos casos es de 68
b) Si el número es divisible por 2 y 3. La cantidad de estos casos es de 17
c) Si el número es divisible por 3 pero no por 2. La cantidad de estos casos es de 17
d) Si el número no es divisible por 2 ni 3.La cantidad de estos casos es de 33

### **`Desafío 4`**

Corrección de errores.

for i in range(100):

print(I**2)

In [4]:
for i in range(100):
    print(i**2)

0
1
4
9
16
25
36
49
64
81
100
121
144
169
196
225
256
289
324
361
400
441
484
529
576
625
676
729
784
841
900
961
1024
1089
1156
1225
1296
1369
1444
1521
1600
1681
1764
1849
1936
2025
2116
2209
2304
2401
2500
2601
2704
2809
2916
3025
3136
3249
3364
3481
3600
3721
3844
3969
4096
4225
4356
4489
4624
4761
4900
5041
5184
5329
5476
5625
5776
5929
6084
6241
6400
6561
6724
6889
7056
7225
7396
7569
7744
7921
8100
8281
8464
8649
8836
9025
9216
9409
9604
9801

### **`Desafío 5`**

●	Utilizando la misma base flights.csv hacer un loop y clasificar los meses con una cantidad de pasajeros menor a la media.

●	Para ello, generen un nuevo objeto que represente la media de passengers.

●	Generen una columna en la base de datos que se llame underperforming y asígnele 0.

●	Ejecuten un loop que recorra cada observación de passengers, donde si la
observación es menor a la media de passengers se le asigne a underperforming
un 1.

●	Para asignar unos en la columna underperforming ya creada, para ello utilice la función at de pandas.

In [5]:
import pandas as pd

df = pd.read_csv("flights.csv")

media = np.mean(df.passengers)

df['underperforming'] = 0

i = 0

for j in df['passengers']:
    if j < media:
        df.at[i,'underperforming'] = 1
    i +=1

df['underperforming'].value_counts(normalize = True)

1    0.555556
0    0.444444
Name: underperforming, dtype: float64

### **`Desafío 6`**

Hacer un loop que clasifique los meses donde la cantidad de pasajeros se escapa de la tendencia.

●	Para ello, genere dos objetos que guarden la media general y la desviación estándar general de passengers.

●	Genere una nueva columna en la tabla de datos que se llame outlier y asignele 0.

●	Ejecuten un loop que recorra cada observación de passengers, donde si la
observación se escapa de la tendencia sea 1, de lo contrario 0.

●	Para clasificar los casos que se escapen la tendencia, la observación debe satisfacer una de las siguientes condiciones:

    ○	La observación debe ser menor a la media menos la desviación estándar, o
    ○	La observación debe ser mayor a la media más la desviación estándar.
    ○	¿Cuántas observaciones se pueden clasificar como casos extremos?

In [6]:
#objetos que guardan la media y la desviación estándar
mu = media
sigma = np.std(df.passengers)

df['outlier'] = 0

for i in range(len(df['passengers'])):
    if np.abs(df['passengers'][i] - mu) > sigma:
        df.at[i,'outlier'] = 1
    i +=1

np.sum(df['outlier'])

53