### **Clase 11 - Conexión de bases mediante Python**

### **`Del motor a Python`**

#### **1 - psycopg2**

In [54]:
import psycopg2
import pandas as pd

In [55]:
host='localhost' 
user='postgres'
password='catalina'
database='spotify'
port='5432'

In [56]:
conn = psycopg2.connect(host=host, dbname=database, user=user, password=password, port=port)

In [57]:
cursor = conn.cursor()

In [6]:
cursor.execute('SELECT * FROM cancion')

In [7]:
cursor.fetchone()

('New Rules', 1, 10)

In [8]:
cursor.fetchall()

[('Lost in Your Light', 1, 2),
 ('Into You', 4, 4),
 ('Side To Side', 4, 5),
 ('Problem', 3, 2),
 ('Break Free', 3, 5),
 ('God Is a Woman', 5, 5),
 ('I Like It', 6, 7),
 ('Bad Blood', 11, 8),
 ('Blank Space', 11, 2),
 ('The Story of Us', 9, 4),
 ('Love Story', 8, 3),
 ('Havanna', 13, 4),
 ('One Dance', 17, 122),
 ('Too Much', 16, 123),
 ('Own It', 16, 5),
 ('Broken Whiskey Glass', 19, 1),
 ('Too Young', 19, 11),
 ('Train food', 23, 3),
 ('One Minute', 23, 7)]

El `cursor` se mantiene abierto -> `closed: 0` y debemos cerrarlo en caso de no utilizarlo más

In [9]:
cursor

In [10]:
cursor.close()

Ya lo hemos cerrado -> `closed: -1`

In [11]:
cursor

También podemos utilizar `with` para que después de utilizar el `cursor` se cierre automáticamente

In [12]:
with conn.cursor() as cursor:
    cursor.execute('SELECT * FROM cancion')
    data = cursor.fetchall()

data

[('New Rules', 1, 10),
 ('Lost in Your Light', 1, 2),
 ('Into You', 4, 4),
 ('Side To Side', 4, 5),
 ('Problem', 3, 2),
 ('Break Free', 3, 5),
 ('God Is a Woman', 5, 5),
 ('I Like It', 6, 7),
 ('Bad Blood', 11, 8),
 ('Blank Space', 11, 2),
 ('The Story of Us', 9, 4),
 ('Love Story', 8, 3),
 ('Havanna', 13, 4),
 ('One Dance', 17, 122),
 ('Too Much', 16, 123),
 ('Own It', 16, 5),
 ('Broken Whiskey Glass', 19, 1),
 ('Too Young', 19, 11),
 ('Train food', 23, 3),
 ('One Minute', 23, 7)]

Eliminamos un registro y con `commit()` enviamos la modificación a la Base de datos

In [59]:
with conn.cursor() as cursor:
    cursor.execute('DELETE FROM cancion WHERE numero_del_track=1;')

conn.commit()

Eliminamos el registro -> `('Broken Whiskey Glass', 19, 1)`

In [64]:
with conn.cursor() as cursor:
    cursor.execute('SELECT * FROM cancion')
    data = cursor.fetchall()

data

[('New Rules', 1, 10),
 ('Lost in Your Light', 1, 2),
 ('Into You', 4, 4),
 ('Side To Side', 4, 5),
 ('Problem', 3, 2),
 ('Break Free', 3, 5),
 ('God Is a Woman', 5, 5),
 ('I Like It', 6, 7),
 ('Bad Blood', 11, 8),
 ('Blank Space', 11, 2),
 ('The Story of Us', 9, 4),
 ('Love Story', 8, 3),
 ('Havanna', 13, 4),
 ('One Dance', 17, 122),
 ('Too Much', 16, 123),
 ('Own It', 16, 5),
 ('Too Young', 19, 11),
 ('Train food', 23, 3),
 ('One Minute', 23, 7)]

#### **2 - sqlalchemy**

In [46]:
import pandas as pd
from sqlalchemy import text
from sqlalchemy import create_engine

In [47]:
host='localhost' 
user='postgres'
password='catalina'
database='spotify'
port='5432'

In [48]:
# dialect+driver://username:password@host:port/database
engine = create_engine(f'postgresql+psycopg2://{user}:{password}@{host}:{port}/{database}')

In [51]:
engine

Engine(postgresql+psycopg2://postgres:***@localhost:5432/spotify)

In [52]:
with engine.begin() as conn:
    query = text("""SELECT * FROM cancion""")
    df = pd.read_sql_query(query, conn)

df

          titulo_cancion  id_album  numero_del_track
0              New Rules         1                10
1     Lost in Your Light         1                 2
2               Into You         4                 4
3           Side To Side         4                 5
4                Problem         3                 2
5             Break Free         3                 5
6         God Is a Woman         5                 5
7              I Like It         6                 7
8              Bad Blood        11                 8
9            Blank Space        11                 2
10       The Story of Us         9                 4
11            Love Story         8                 3
12               Havanna        13                 4
13             One Dance        17               122
14              Too Much        16               123
15                Own It        16                 5
16  Broken Whiskey Glass        19                 1
17             Too Young        19                11
18            Train food        23                 3
19            One Minute        23                 7

### **`De Python al motor`**

### **`Ejemplo: Ingestando datos del Titanic`**

In [1]:
import psycopg2
import pandas as pd

In [2]:
host='localhost' 
user='postgres'
password='catalina'
database='titanic'
port='5432'

In [3]:
conn = psycopg2.connect(host=host, dbname=database, user=user, password=password, port=port)

In [4]:
cursor = conn.cursor()

Con el cursor generado, procederemos a crear la tabla `data_titanic` con la siguiente linea. Cabe destacar que enesta linea incluimos todos los atributos medibles de la base de datos del titanic. Los registros con los que trabajamos tienen las siguientes caracteristicas.

- `Index`: La clave primaria de la tabla, como un numero serial.
- `PassengerId`: Un digito identificador único del pasajero. Es un tipo de dato entero.
- `Survival`: Identificador de supervivencia del pasajero al naufragio. Es un tipo de dato booleano.
- `Pclass`: Clase del pasajero (Primera, Segunda o Tercera). Es un tipo de dato cadena.
- `Name`: El nombre del pasajero. Es un tipo de dato cadena.
- `Sex`: El sexo del pasajero. Es un tipo de dato cadena.
- `Age`: La edad del pasajero. Es un tipo de dato flotante dado las caracteristicas del registro.
- `SibSp`: Cantidad de hermanos y/o esposas del pasajero. Es un tipo de dato entero.
- `Parch`: Cantidad de padres y/o hijos del pasajero. Es un tipo de dato entero.
- `Ticket`: Numero del ticket. Es un tipo de dato cadena.
- `Fare`: Costo total del ticket. Es un tipo de dato flotante.
- `Cabin`: Numero de cabina asignada al pasajero. Es un tipo de dato cadena.
- `Embarked`: Puerto donde embarcó el pasajero. Es un tipo de dato cadena.

In [5]:
with conn.cursor() as cursor:
    cursor.execute("""
                   CREATE TABLE data_titanic(
                    PassengerId INTEGER,
                    Survived BOOLEAN,
                    Pclass INTEGER,
                    Name VARCHAR(255),
                    Sex VARCHAR(6),
                    Age DOUBLE PRECISION,
                    SibSp INTEGER,
                    Parch INTEGER,
                    Ticket VARCHAR(50),
                    Fare DOUBLE PRECISION,
                    Cabin VARCHAR(50),
                    Embarked VARCHAR(50),
                    PRIMARY KEY(PassengerId)
                   );
    """)

conn.commit()

In [6]:
import csv

with open('./titanic_dataset.csv', 'r') as archivo:
    contenidoArchivo = csv.reader(archivo, delimiter=',')
    next(contenidoArchivo)

    for fila in contenidoArchivo:
        print(fila)

['1', '0', '3', 'Braund, Mr. Owen Harris', 'male', '22.0', '1', '0', 'A/5 21171', '7.25', '', 'S']
['2', '1', '1', 'Cumings, Mrs. John Bradley (Florence Briggs Thayer)', 'female', '38.0', '1', '0', 'PC 17599', '71.2833', 'C85', 'C']
['3', '1', '3', 'Heikkinen, Miss. Laina', 'female', '26.0', '0', '0', 'STON/O2. 3101282', '7.925', '', 'S']
['4', '1', '1', 'Futrelle, Mrs. Jacques Heath (Lily May Peel)', 'female', '35.0', '1', '0', '113803', '53.1', 'C123', 'S']
['5', '0', '3', 'Allen, Mr. William Henry', 'male', '35.0', '0', '0', '373450', '8.05', '', 'S']
['6', '0', '3', 'Moran, Mr. James', 'male', '', '0', '0', '330877', '8.4583', '', 'Q']
['7', '0', '1', 'McCarthy, Mr. Timothy J', 'male', '54.0', '0', '0', '17463', '51.8625', 'E46', 'S']
['8', '0', '3', 'Palsson, Master. Gosta Leonard', 'male', '2.0', '3', '1', '349909', '21.075', '', 'S']
['9', '1', '3', 'Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)', 'female', '27.0', '0', '2', '347742', '11.1333', '', 'S']
['10', '1', '2', 'Nasser, Mrs. Nicholas (Adele Achem)', 'female', '14.0', '1', '0', '237736', '30.0708', '', 'C']
['11', '1', '3', 'Sandstrom, Miss. Marguerite Rut', 'female', '4.0', '1', '1', 'PP 9549', '16.7', 'G6', 'S']
['12', '1', '1', 'Bonnell, Miss. Elizabeth', 'female', '58.0', '0', '0', '113783', '26.55', 'C103', 'S']
['13', '0', '3', 'Saundercock, Mr. William Henry', 'male', '20.0', '0', '0', 'A/5. 2151', '8.05', '', 'S']
['14', '0', '3', 'Andersson, Mr. Anders Johan', 'male', '39.0', '1', '5', '347082', '31.275', '', 'S']
['15', '0', '3', 'Vestrom, Miss. Hulda Amanda Adolfina', 'female', '14.0', '0', '0', '350406', '7.8542', '', 'S']
['16', '1', '2', 'Hewlett, Mrs. (Mary D Kingcome) ', 'female', '55.0', '0', '0', '248706', '16.0', '', 'S']
['17', '0', '3', 'Rice, Master. Eugene', 'male', '2.0', '4', '1', '382652', '29.125', '', 'Q']
['18', '1', '2', 'Williams, Mr. Charles Eugene', 'male', '', '0', '0', '244373', '13.0', '', 'S']
['19', '0', '3', 'Vander Planke, Mrs. Julius (Emelia Maria Vandemoortele)', 'female', '31.0', '1', '0', '345763', '18.0', '', 'S']
['20', '1', '3', 'Masselmani, Mrs. Fatima', 'female', '', '0', '0', '2649', '7.225', '', 'C']
['21', '0', '2', 'Fynney, Mr. Joseph J', 'male', '35.0', '0', '0', '239865', '26.0', '', 'S']
['22', '1', '2', 'Beesley, Mr. Lawrence', 'male', '34.0', '0', '0', '248698', '13.0', 'D56', 'S']
['23', '1', '3', 'McGowan, Miss. Anna "Annie"', 'female', '15.0', '0', '0', '330923', '8.0292', '', 'Q']
['24', '1', '1', 'Sloper, Mr. William Thompson', 'male', '28.0', '0', '0', '113788', '35.5', 'A6', 'S']
['25', '0', '3', 'Palsson, Miss. Torborg Danira', 'female', '8.0', '3', '1', '349909', '21.075', '', 'S']
['26', '1', '3', 'Asplund, Mrs. Carl Oscar (Selma Augusta Emilia Johansson)', 'female', '38.0', '1', '5', '347077', '31.3875', '', 'S']
['27', '0', '3', 'Emir, Mr. Farred Chehab', 'male', '', '0', '0', '2631', '7.225', '', 'C']
['28', '0', '1', 'Fortune, Mr. Charles Alexander', 'male', '19.0', '3', '2', '19950', '263.0', 'C23 C25 C27', 'S']
['29', '1', '3', 'O\'Dwyer, Miss. Ellen "Nellie"', 'female', '', '0', '0', '330959', '7.8792', '', 'Q']
['30', '0', '3', 'Todoroff, Mr. Lalio', 'male', '', '0', '0', '349216', '7.8958', '', 'S']
['31', '0', '1', 'Uruchurtu, Don. Manuel E', 'male', '40.0', '0', '0', 'PC 17601', '27.7208', '', 'C']
['32', '1', '1', 'Spencer, Mrs. William Augustus (Marie Eugenie)', 'female', '', '1', '0', 'PC 17569', '146.5208', 'B78', 'C']
['33', '1', '3', 'Glynn, Miss. Mary Agatha', 'female', '', '0', '0', '335677', '7.75', '', 'Q']
['34', '0', '2', 'Wheadon, Mr. Edward H', 'male', '66.0', '0', '0', 'C.A. 24579', '10.5', '', 'S']
['35', '0', '1', 'Meyer, Mr. Edgar Joseph', 'male', '28.0', '1', '0', 'PC 17604', '82.1708', '', 'C']
['36', '0', '1', 'Holverson, Mr. Alexander Oskar', 'male', '42.0', '1', '0', '113789', '52.0', '', 'S']
['37', '1', '3', 'Mamee, Mr. Hanna', 'male', '', '0', '0', '2677', '7.2292', '', 'C']
['38', '0', '3', 'Cann, Mr. Ernest Charles', 'male', '21.0', '0', '0', 'A./5. 2152', '8.05', '', 'S']
['39', '0', '3', 'Vander Planke, Miss. Augusta Maria', 'female', '18.0', '2', '0', '345764', '18.0', '', 'S']
['40', '1', '3', 'Nicola-Yarred, Miss. Jamila', 'female', '14.0', '1', '0', '2651', '11.2417', '', 'C']
['41', '0', '3', 'Ahlin, Mrs. Johan (Johanna Persdotter Larsson)', 'female', '40.0', '1', '0', '7546', '9.475', '', 'S']
['42', '0', '2', 'Turpin, Mrs. William John Robert (Dorothy Ann Wonnacott)', 'female', '27.0', '1', '0', '11668', '21.0', '', 'S']
['43', '0', '3', 'Kraeff, Mr. Theodor', 'male', '', '0', '0', '349253', '7.8958', '', 'C']
['44', '1', '2', 'Laroche, Miss. Simonne Marie Anne Andree', 'female', '3.0', '1', '2', 'SC/Paris 2123', '41.5792', '', 'C']
['45', '1', '3', 'Devaney, Miss. Margaret Delia', 'female', '19.0', '0', '0', '330958', '7.8792', '', 'Q']
['46', '0', '3', 'Rogers, Mr. William John', 'male', '', '0', '0', 'S.C./A.4. 23567', '8.05', '', 'S']
['47', '0', '3', 'Lennon, Mr. Denis', 'male', '', '1', '0', '370371', '15.5', '', 'Q']
['48', '1', '3', "O'Driscoll, Miss. Bridget", 'female', '', '0', '0', '14311', '7.75', '', 'Q']
['49', '0', '3', 'Samaan, Mr. Youssef', 'male', '', '2', '0', '2662', '21.6792', '', 'C']
['50', '0', '3', 'Arnold-Franchi, Mrs. Josef (Josefine Franchi)', 'female', '18.0', '1', '0', '349237', '17.8', '', 'S']
['51', '0', '3', 'Panula, Master. Juha Niilo', 'male', '7.0', '4', '1', '3101295', '39.6875', '', 'S']
['52', '0', '3', 'Nosworthy, Mr. Richard Cater', 'male', '21.0', '0', '0', 'A/4. 39886', '7.8', '', 'S']
['53', '1', '1', 'Harper, Mrs. Henry Sleeper (Myna Haxtun)', 'female', '49.0', '1', '0', 'PC 17572', '76.7292', 'D33', 'C']
['54', '1', '2', 'Faunthorpe, Mrs. Lizzie (Elizabeth Anne Wilkinson)', 'female', '29.0', '1', '0', '2926', '26.0', '', 'S']
['55', '0', '1', 'Ostby, Mr. Engelhart Cornelius', 'male', '65.0', '0', '1', '113509', '61.9792', 'B30', 'C']
['56', '1', '1', 'Woolner, Mr. Hugh', 'male', '', '0', '0', '19947', '35.5', 'C52', 'S']
['57', '1', '2', 'Rugg, Miss. Emily', 'female', '21.0', '0', '0', 'C.A. 31026', '10.5', '', 'S']
['58', '0', '3', 'Novel, Mr. Mansouer', 'male', '28.5', '0', '0', '2697', '7.2292', '', 'C']
['59', '1', '2', 'West, Miss. Constance Mirium', 'female', '5.0', '1', '2', 'C.A. 34651', '27.75', '', 'S']
['60', '0', '3', 'Goodwin, Master. William Frederick', 'male', '11.0', '5', '2', 'CA 2144', '46.9', '', 'S']
['61', '0', '3', 'Sirayanian, Mr. Orsen', 'male', '22.0', '0', '0', '2669', '7.2292', '', 'C']
['62', '1', '1', 'Icard, Miss. Amelie', 'female', '38.0', '0', '0', '113572', '80.0', 'B28', '']
['63', '0', '1', 'Harris, Mr. Henry Birkhardt', 'male', '45.0', '1', '0', '36973', '83.475', 'C83', 'S']
['64', '0', '3', 'Skoog, Master. Harald', 'male', '4.0', '3', '2', '347088', '27.9', '', 'S']
['65', '0', '1', 'Stewart, Mr. Albert A', 'male', '', '0', '0', 'PC 17605', '27.7208', '', 'C']
['66', '1', '3', 'Moubarek, Master. Gerios', 'male', '', '1', '1', '2661', '15.2458', '', 'C']
['67', '1', '2', 'Nye, Mrs. (Elizabeth Ramell)', 'female', '29.0', '0', '0', 'C.A. 29395', '10.5', 'F33', 'S']
['68', '0', '3', 'Crease, Mr. Ernest James', 'male', '19.0', '0', '0', 'S.P. 3464', '8.1583', '', 'S']
['69', '1', '3', 'Andersson, Miss. Erna Alexandra', 'female', '17.0', '4', '2', '3101281', '7.925', '', 'S']
['70', '0', '3', 'Kink, Mr. Vincenz', 'male', '26.0', '2', '0', '315151', '8.6625', '', 'S']
['71', '0', '2', 'Jenkin, Mr. Stephen Curnow', 'male', '32.0', '0', '0', 'C.A. 33111', '10.5', '', 'S']
['72', '0', '3', 'Goodwin, Miss. Lillian Amy', 'female', '16.0', '5', '2', 'CA 2144', '46.9', '', 'S']
['73', '0', '2', 'Hood, Mr. Ambrose Jr', 'male', '21.0', '0', '0', 'S.O.C. 14879', '73.5', '', 'S']
['74', '0', '3', 'Chronopoulos, Mr. Apostolos', 'male', '26.0', '1', '0', '2680', '14.4542', '', 'C']
['75', '1', '3', 'Bing, Mr. Lee', 'male', '32.0', '0', '0', '1601', '56.4958', '', 'S']
['76', '0', '3', 'Moen, Mr. Sigurd Hansen', 'male', '25.0', '0', '0', '348123', '7.65', 'F G73', 'S']
['77', '0', '3', 'Staneff, Mr. Ivan', 'male', '', '0', '0', '349208', '7.8958', '', 'S']
['78', '0', '3', 'Moutal, Mr. Rahamin Haim', 'male', '', '0', '0', '374746', '8.05', '', 'S']
['79', '1', '2', 'Caldwell, Master. Alden Gates', 'male', '0.83', '0', '2', '248738', '29.0', '', 'S']
['80', '1', '3', 'Dowdell, Miss. Elizabeth', 'female', '30.0', '0', '0', '364516', '12.475', '', 'S']
['81', '0', '3', 'Waelens, Mr. Achille', 'male', '22.0', '0', '0', '345767', '9.0', '', 'S']
['82', '1', '3', 'Sheerlinck, Mr. Jan Baptist', 'male', '29.0', '0', '0', '345779', '9.5', '', 'S']
['83', '1', '3', 'McDermott, Miss. Brigdet Delia', 'female', '', '0', '0', '330932', '7.7875', '', 'Q']
['84', '0', '1', 'Carrau, Mr. Francisco M', 'male', '28.0', '0', '0', '113059', '47.1', '', 'S']
['85', '1', '2', 'Ilett, Miss. Bertha', 'female', '17.0', '0', '0', 'SO/C 14885', '10.5', '', 'S']
['86', '1', '3', 'Backstrom, Mrs. Karl Alfred (Maria Mathilda Gustafsson)', 'female', '33.0', '3', '0', '3101278', '15.85', '', 'S']
['87', '0', '3', 'Ford, Mr. William Neal', 'male', '16.0', '1', '3', 'W./C. 6608', '34.375', '', 'S']
['88', '0', '3', 'Slocovski, Mr. Selman Francis', 'male', '', '0', '0', 'SOTON/OQ 392086', '8.05', '', 'S']
['89', '1', '1', 'Fortune, Miss. Mabel Helen', 'female', '23.0', '3', '2', '19950', '263.0', 'C23 C25 C27', 'S']
['90', '0', '3', 'Celotti, Mr. Francesco', 'male', '24.0', '0', '0', '343275', '8.05', '', 'S']
['91', '0', '3', 'Christmann, Mr. Emil', 'male', '29.0', '0', '0', '343276', '8.05', '', 'S']
['92', '0', '3', 'Andreasson, Mr. Paul Edvin', 'male', '20.0', '0', '0', '347466', '7.8542', '', 'S']
['93', '0', '1', 'Chaffee, Mr. Herbert Fuller', 'male', '46.0', '1', '0', 'W.E.P. 5734', '61.175', 'E31', 'S']
['94', '0', '3', 'Dean, Mr. Bertram Frank', 'male', '26.0', '1', '2', 'C.A. 2315', '20.575', '', 'S']
['95', '0', '3', 'Coxon, Mr. Daniel', 'male', '59.0', '0', '0', '364500', '7.25', '', 'S']
['96', '0', '3', 'Shorney, Mr. Charles Joseph', 'male', '', '0', '0', '374910', '8.05', '', 'S']
['97', '0', '1', 'Goldschmidt, Mr. George B', 'male', '71.0', '0', '0', 'PC 17754', '34.6542', 'A5', 'C']
['98', '1', '1', 'Greenfield, Mr. William Bertram', 'male', '23.0', '0', '1', 'PC 17759', '63.3583', 'D10 D12', 'C']
['99', '1', '2', 'Doling, Mrs. John T (Ada Julia Bone)', 'female', '34.0', '0', '1', '231919', '23.0', '', 'S']
['100', '0', '2', 'Kantor, Mr. Sinai', 'male', '34.0', '1', '0', '244367', '26.0', '', 'S']
['101', '0', '3', 'Petranec, Miss. Matilda', 'female', '28.0', '0', '0', '349245', '7.8958', '', 'S']
['102', '0', '3', 'Petroff, Mr. Pastcho ("Pentcho")', 'male', '', '0', '0', '349215', '7.8958', '', 'S']
['103', '0', '1', 'White, Mr. Richard Frasar', 'male', '21.0', '0', '1', '35281', '77.2875', 'D26', 'S']
['104', '0', '3', 'Johansson, Mr. Gustaf Joel', 'male', '33.0', '0', '0', '7540', '8.6542', '', 'S']
['105', '0', '3', 'Gustafsson, Mr. Anders Vilhelm', 'male', '37.0', '2', '0', '3101276', '7.925', '', 'S']
['106', '0', '3', 'Mionoff, Mr. Stoytcho', 'male', '28.0', '0', '0', '349207', '7.8958', '', 'S']
['107', '1', '3', 'Salkjelsvik, Miss. Anna Kristine', 'female', '21.0', '0', '0', '343120', '7.65', '', 'S']
['108', '1', '3', 'Moss, Mr. Albert Johan', 'male', '', '0', '0', '312991', '7.775', '', 'S']
['109', '0', '3', 'Rekic, Mr. Tido', 'male', '38.0', '0', '0', '349249', '7.8958', '', 'S']
['110', '1', '3', 'Moran, Miss. Bertha', 'female', '', '1', '0', '371110', '24.15', '', 'Q']
['111', '0', '1', 'Porter, Mr. Walter Chamberlain', 'male', '47.0', '0', '0', '110465', '52.0', 'C110', 'S']
['112', '0', '3', 'Zabour, Miss. Hileni', 'female', '14.5', '1', '0', '2665', '14.4542', '', 'C']
['113', '0', '3', 'Barton, Mr. David John', 'male', '22.0', '0', '0', '324669', '8.05', '', 'S']
['114', '0', '3', 'Jussila, Miss. Katriina', 'female', '20.0', '1', '0', '4136', '9.825', '', 'S']
['115', '0', '3', 'Attalah, Miss. Malake', 'female', '17.0', '0', '0', '2627', '14.4583', '', 'C']
['116', '0', '3', 'Pekoniemi, Mr. Edvard', 'male', '21.0', '0', '0', 'STON/O 2. 3101294', '7.925', '', 'S']
['117', '0', '3', 'Connors, Mr. Patrick', 'male', '70.5', '0', '0', '370369', '7.75', '', 'Q']
['118', '0', '2', 'Turpin, Mr. William John Robert', 'male', '29.0', '1', '0', '11668', '21.0', '', 'S']
['119', '0', '1', 'Baxter, Mr. Quigg Edmond', 'male', '24.0', '0', '1', 'PC 17558', '247.5208', 'B58 B60', 'C']
['120', '0', '3', 'Andersson, Miss. Ellis Anna Maria', 'female', '2.0', '4', '2', '347082', '31.275', '', 'S']
['121', '0', '2', 'Hickman, Mr. Stanley George', 'male', '21.0', '2', '0', 'S.O.C. 14879', '73.5', '', 'S']
['122', '0', '3', 'Moore, Mr. Leonard Charles', 'male', '', '0', '0', 'A4. 54510', '8.05', '', 'S']
['123', '0', '2', 'Nasser, Mr. Nicholas', 'male', '32.5', '1', '0', '237736', '30.0708', '', 'C']
['124', '1', '2', 'Webber, Miss. Susan', 'female', '32.5', '0', '0', '27267', '13.0', 'E101', 'S']
['125', '0', '1', 'White, Mr. Percival Wayland', 'male', '54.0', '0', '1', '35281', '77.2875', 'D26', 'S']
['126', '1', '3', 'Nicola-Yarred, Master. Elias', 'male', '12.0', '1', '0', '2651', '11.2417', '', 'C']
['127', '0', '3', 'McMahon, Mr. Martin', 'male', '', '0', '0', '370372', '7.75', '', 'Q']
['128', '1', '3', 'Madsen, Mr. Fridtjof Arne', 'male', '24.0', '0', '0', 'C 17369', '7.1417', '', 'S']
['129', '1', '3', 'Peter, Miss. Anna', 'female', '', '1', '1', '2668', '22.3583', 'F E69', 'C']
['130', '0', '3', 'Ekstrom, Mr. Johan', 'male', '45.0', '0', '0', '347061', '6.975', '', 'S']
['131', '0', '3', 'Drazenoic, Mr. Jozef', 'male', '33.0', '0', '0', '349241', '7.8958', '', 'C']
['132', '0', '3', 'Coelho, Mr. Domingos Fernandeo', 'male', '20.0', '0', '0', 'SOTON/O.Q. 3101307', '7.05', '', 'S']
['133', '0', '3', 'Robins, Mrs. Alexander A (Grace Charity Laury)', 'female', '47.0', '1', '0', 'A/5. 3337', '14.5', '', 'S']
['134', '1', '2', 'Weisz, Mrs. Leopold (Mathilde Francoise Pede)', 'female', '29.0', '1', '0', '228414', '26.0', '', 'S']
['135', '0', '2', 'Sobey, Mr. Samuel James Hayden', 'male', '25.0', '0', '0', 'C.A. 29178', '13.0', '', 'S']
['136', '0', '2', 'Richard, Mr. Emile', 'male', '23.0', '0', '0', 'SC/PARIS 2133', '15.0458', '', 'C']
['137', '1', '1', 'Newsom, Miss. Helen Monypeny', 'female', '19.0', '0', '2', '11752', '26.2833', 'D47', 'S']
['138', '0', '1', 'Futrelle, Mr. Jacques Heath', 'male', '37.0', '1', '0', '113803', '53.1', 'C123', 'S']
['139', '0', '3', 'Osen, Mr. Olaf Elon', 'male', '16.0', '0', '0', '7534', '9.2167', '', 'S']
['140', '0', '1', 'Giglio, Mr. Victor', 'male', '24.0', '0', '0', 'PC 17593', '79.2', 'B86', 'C']
['141', '0', '3', 'Boulos, Mrs. Joseph (Sultana)', 'female', '', '0', '2', '2678', '15.2458', '', 'C']
['142', '1', '3', 'Nysten, Miss. Anna Sofia', 'female', '22.0', '0', '0', '347081', '7.75', '', 'S']
['143', '1', '3', 'Hakkarainen, Mrs. Pekka Pietari (Elin Matilda Dolck)', 'female', '24.0', '1', '0', 'STON/O2. 3101279', '15.85', '', 'S']
['144', '0', '3', 'Burke, Mr. Jeremiah', 'male', '19.0', '0', '0', '365222', '6.75', '', 'Q']
['145', '0', '2', 'Andrew, Mr. Edgardo Samuel', 'male', '18.0', '0', '0', '231945', '11.5', '', 'S']
['146', '0', '2', 'Nicholls, Mr. Joseph Charles', 'male', '19.0', '1', '1', 'C.A. 33112', '36.75', '', 'S']
['147', '1', '3', 'Andersson, Mr. August Edvard ("Wennerstrom")', 'male', '27.0', '0', '0', '350043', '7.7958', '', 'S']
['148', '0', '3', 'Ford, Miss. Robina Maggie "Ruby"', 'female', '9.0', '2', '2', 'W./C. 6608', '34.375', '', 'S']
['149', '0', '2', 'Navratil, Mr. Michel ("Louis M Hoffman")', 'male', '36.5', '0', '2', '230080', '26.0', 'F2', 'S']
['150', '0', '2', 'Byles, Rev. Thomas Roussel Davids', 'male', '42.0', '0', '0', '244310', '13.0', '', 'S']
['151', '0', '2', 'Bateman, Rev. Robert James', 'male', '51.0', '0', '0', 'S.O.P. 1166', '12.525', '', 'S']
['152', '1', '1', 'Pears, Mrs. Thomas (Edith Wearne)', 'female', '22.0', '1', '0', '113776', '66.6', 'C2', 'S']
['153', '0', '3', 'Meo, Mr. Alfonzo', 'male', '55.5', '0', '0', 'A.5. 11206', '8.05', '', 'S']
['154', '0', '3', 'van Billiard, Mr. Austin Blyler', 'male', '40.5', '0', '2', 'A/5. 851', '14.5', '', 'S']
['155', '0', '3', 'Olsen, Mr. Ole Martin', 'male', '', '0', '0', 'Fa 265302', '7.3125', '', 'S']
['156', '0', '1', 'Williams, Mr. Charles Duane', 'male', '51.0', '0', '1', 'PC 17597', '61.3792', '', 'C']
['157', '1', '3', 'Gilnagh, Miss. Katherine "Katie"', 'female', '16.0', '0', '0', '35851', '7.7333', '', 'Q']
['158', '0', '3', 'Corn, Mr. Harry', 'male', '30.0', '0', '0', 'SOTON/OQ 392090', '8.05', '', 'S']
['159', '0', '3', 'Smiljanic, Mr. Mile', 'male', '', '0', '0', '315037', '8.6625', '', 'S']
['160', '0', '3', 'Sage, Master. Thomas Henry', 'male', '', '8', '2', 'CA. 2343', '69.55', '', 'S']
['161', '0', '3', 'Cribb, Mr. John Hatfield', 'male', '44.0', '0', '1', '371362', '16.1', '', 'S']
['162', '1', '2', 'Watt, Mrs. James (Elizabeth "Bessie" Inglis Milne)', 'female', '40.0', '0', '0', 'C.A. 33595', '15.75', '', 'S']
['163', '0', '3', 'Bengtsson, Mr. John Viktor', 'male', '26.0', '0', '0', '347068', '7.775', '', 'S']
['164', '0', '3', 'Calic, Mr. Jovo', 'male', '17.0', '0', '0', '315093', '8.6625', '', 'S']
['165', '0', '3', 'Panula, Master. Eino Viljami', 'male', '1.0', '4', '1', '3101295', '39.6875', '', 'S']
['166', '1', '3', 'Goldsmith, Master. Frank John William "Frankie"', 'male', '9.0', '0', '2', '363291', '20.525', '', 'S']
['167', '1', '1', 'Chibnall, Mrs. (Edith Martha Bowerman)', 'female', '', '0', '1', '113505', '55.0', 'E33', 'S']
['168', '0', '3', 'Skoog, Mrs. William (Anna Bernhardina Karlsson)', 'female', '45.0', '1', '4', '347088', '27.9', '', 'S']
['169', '0', '1', 'Baumann, Mr. John D', 'male', '', '0', '0', 'PC 17318', '25.925', '', 'S']
['170', '0', '3', 'Ling, Mr. Lee', 'male', '28.0', '0', '0', '1601', '56.4958', '', 'S']
['171', '0', '1', 'Van der hoef, Mr. Wyckoff', 'male', '61.0', '0', '0', '111240', '33.5', 'B19', 'S']
['172', '0', '3', 'Rice, Master. Arthur', 'male', '4.0', '4', '1', '382652', '29.125', '', 'Q']
['173', '1', '3', 'Johnson, Miss. Eleanor Ileen', 'female', '1.0', '1', '1', '347742', '11.1333', '', 'S']
['174', '0', '3', 'Sivola, Mr. Antti Wilhelm', 'male', '21.0', '0', '0', 'STON/O 2. 3101280', '7.925', '', 'S']
['175', '0', '1', 'Smith, Mr. James Clinch', 'male', '56.0', '0', '0', '17764', '30.6958', 'A7', 'C']
['176', '0', '3', 'Klasen, Mr. Klas Albin', 'male', '18.0', '1', '1', '350404', '7.8542', '', 'S']
['177', '0', '3', 'Lefebre, Master. Henry Forbes', 'male', '', '3', '1', '4133', '25.4667', '', 'S']
['178', '0', '1', 'Isham, Miss. Ann Elizabeth', 'female', '50.0', '0', '0', 'PC 17595', '28.7125', 'C49', 'C']
['179', '0', '2', 'Hale, Mr. Reginald', 'male', '30.0', '0', '0', '250653', '13.0', '', 'S']
['180', '0', '3', 'Leonard, Mr. Lionel', 'male', '36.0', '0', '0', 'LINE', '0.0', '', 'S']
['181', '0', '3', 'Sage, Miss. Constance Gladys', 'female', '', '8', '2', 'CA. 2343', '69.55', '', 'S']
['182', '0', '2', 'Pernot, Mr. Rene', 'male', '', '0', '0', 'SC/PARIS 2131', '15.05', '', 'C']
['183', '0', '3', 'Asplund, Master. Clarence Gustaf Hugo', 'male', '9.0', '4', '2', '347077', '31.3875', '', 'S']
['184', '1', '2', 'Becker, Master. Richard F', 'male', '1.0', '2', '1', '230136', '39.0', 'F4', 'S']
['185', '1', '3', 'Kink-Heilmann, Miss. Luise Gretchen', 'female', '4.0', '0', '2', '315153', '22.025', '', 'S']
['186', '0', '1', 'Rood, Mr. Hugh Roscoe', 'male', '', '0', '0', '113767', '50.0', 'A32', 'S']
['187', '1', '3', 'O\'Brien, Mrs. Thomas (Johanna "Hannah" Godfrey)', 'female', '', '1', '0', '370365', '15.5', '', 'Q']
['188', '1', '1', 'Romaine, Mr. Charles Hallace ("Mr C Rolmane")', 'male', '45.0', '0', '0', '111428', '26.55', '', 'S']
['189', '0', '3', 'Bourke, Mr. John', 'male', '40.0', '1', '1', '364849', '15.5', '', 'Q']
['190', '0', '3', 'Turcin, Mr. Stjepan', 'male', '36.0', '0', '0', '349247', '7.8958', '', 'S']
['191', '1', '2', 'Pinsky, Mrs. (Rosa)', 'female', '32.0', '0', '0', '234604', '13.0', '', 'S']

Ni idea porque no me carga. Utilice la carga por medio de consola.

In [14]:
import csv

# Generamos la lectura del archivo
with open('./titanic_dataset.csv', 'r') as archivo:
    # Realizamos la ingesta
    contenidoArchivo = csv.reader(archivo, delimiter=',')
    # Ignoramos la primera fila que corresponde al header
    next(contenidoArchivo)

    # Para cada una de las filas remanentes 
    for fila in contenidoArchivo:
        # Ejecutaremos una orden en el cursor que inserte los datos
        # "INSERT INTO data_titanic(PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked) VALUES(%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)", fila
        cursor.execute("INSERT INTO data_titanic VALUES(%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)", fila)

InvalidTextRepresentation: la sintaxis de entrada no es válida para tipo double precision: «»
LINE 1: ...VALUES('6', '0', '3', 'Moran, Mr. James', 'male', '', '0', '...
                                                             ^

Podemos usar este comando para cargar el archivo dede consola:

In [ ]:
COPY data_titanic FROM 'C:/github/desafio_latam_data_science/4-SQL_para_Data_Science/Modulo_3_Conexion_a_bases_de_datos_mediante_Python/clases/titanic_dataset.csv' delimiter ',' CSV HEADER;

Ingresaremos dos registros:

In [5]:
cursor.execute("INSERT INTO data_titanic VALUES(%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)", (892,'0',3,'Jack Dawson','male',20,2,0,'unknown',0,'unknown','C'))
conn.commit()

In [8]:
cursor.execute("INSERT INTO data_titanic VALUES(%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)", (893,'1',1,'Rose DeWitt Bukater','female',17,1,1,'unknown',0,'unknown','S'))
conn.commit()

Revisamos si se ingresaron los registros:

In [9]:
cursor.execute('SELECT * FROM data_titanic ORDER BY passengerid DESC LIMIT 2')
cursor.fetchall()

[(893,
  True,
  1,
  'Rose DeWitt Bukater',
  'female',
  17.0,
  1,
  1,
  'unknown',
  0.0,
  'unknown',
  'S'),
 (892,
  False,
  3,
  'Jack Dawson',
  'male',
  20.0,
  2,
  0,
  'unknown',
  0.0,
  'unknown',
  'C')]

Vamos a convertir nuestra tabla con datos en un Dataframe:

In [11]:
cursor.execute('SELECT * FROM data_titanic')
columnas = cursor.fetchall()
titanic_df = pd.DataFrame(list(columnas))

titanic_df.head()

,0,1,2,3,4,5,6,7,8,9,10,11
0,1,False,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,None,S
1,2,True,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,True,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,None,S
3,4,True,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,False,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,None,S

Ingresamos nombres para las columnas:

In [12]:
titanic_df.columns = ['PassengerId','Survived','Pclass','Name','Sex','Age','SibSp','Parch','Ticket','Fare','Cabin','Embarked']

titanic_df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,False,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,None,S
1,2,True,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,True,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,None,S
3,4,True,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,False,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,None,S

Reemplazamos los valores `unknown`:

In [15]:
import numpy as np

for columna in titanic_df.columns:
    titanic_df[columna] = titanic_df[columna].replace('None', np.nan)

titanic_df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,False,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,None,S
1,2,True,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,True,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,None,S
3,4,True,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,False,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,None,S

- Eliminamos las columnas `PassengerId`, `Name`, `Ticket`, `Cabin`
- Eliminamos los registros que tengan datos perdidos

In [16]:
titanic_df = titanic_df.drop(columns=['PassengerId','Name','Ticket','Cabin']).dropna()

titanic_df.head()

   Survived  Pclass     Sex   Age  SibSp  Parch     Fare Embarked
0     False       3    male  22.0      1      0   7.2500        S
1      True       1  female  38.0      1      0  71.2833        C
2      True       3  female  26.0      0      0   7.9250        S
3      True       1  female  35.0      1      0  53.1000        S
4     False       3    male  35.0      0      0   8.0500        S

Vamos a preprocesar los valores de Survived, Sex y Embarked dado que no son numericos

In [17]:
titanic_df['Sex'] = titanic_df['Sex'].replace(['male','female'], [0, 1])
titanic_df['Embarked'] = np.where(titanic_df['Embarked'] == 'S', 1, 0)
titanic_df['Age'] = titanic_df['Age'].apply(int)
titanic_df['Survived'] = np.where(titanic_df['Survived'] == True, 1, 0)
titanic_df['Pclass_1'] = np.where(titanic_df['Pclass'] == 1, 1, 0)
titanic_df['Pclass_3'] = np.where(titanic_df['Pclass'] == 3, 1, 0)
titanic_df = titanic_df.drop(columns='Pclass')

titanic_df.head()

   Survived  Sex  Age  SibSp  Parch     Fare  Embarked  Pclass_1  Pclass_3
0         0    0   22      1      0   7.2500         1         0         1
1         1    1   38      1      0  71.2833         0         1         0
2         1    1   26      0      0   7.9250         1         0         1
3         1    1   35      1      0  53.1000         1         1         0
4         0    0   35      0      0   8.0500         1         0         1

Exportamos los datos a un archivo CSV

In [19]:
titanic_proc_csv = titanic_df.to_csv('titanic_df.csv', index=False)

Migrando nuestro pd.DataFrame al motor PostgreSQL. Vamos a repetir el proceso de importación para poder llevar este a sql para poder ser procesado en postgresql. Lo primero que debemos hacer es cerrar el cursor anterior y crear uno nuevo que represente el procedimiento de salida:

In [20]:
cursor.close()

cursor_out = conn.cursor()

Crearemos la tabla para nuestro nuevo archivo:

In [21]:
with conn.cursor() as cursor:
    cursor.execute("""
                   CREATE TABLE data_titanic_proc(
                    Survived BOOLEAN,
                    Sex VARCHAR(6),
                    Age DOUBLE PRECISION,
                    SibSp INTEGER,
                    Parch INTEGER,
                    Fare DOUBLE PRECISION,
                    Embarked VARCHAR(50),
                    Pclass_1 BOOLEAN,
                    Pclass_3 BOOLEAN
                   );
    """)

conn.commit()

Leer el archivo e insertar datos en la tabla

In [22]:
import csv

# Generamos la lectura del archivo
with open('./titanic_df.csv', 'r') as archivo:
    # Realizamos la ingesta
    contenidoArchivo = csv.reader(archivo, delimiter=',')
    # Ignoramos la primera fila que corresponde al header
    next(contenidoArchivo)

    # Para cada una de las filas remanentes 
    for fila in contenidoArchivo:
        # Ejecutaremos una orden en el cursor que inserte los datos
        # "INSERT INTO data_titanic(PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked) VALUES(%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)", fila
        cursor_out.execute("INSERT INTO data_titanic_proc VALUES(%s, %s, %s, %s, %s, %s, %s, %s, %s)", fila)

In [23]:
conn.commit()

Revisamos si fue cargada en PostgreSQL:

In [24]:
cursor_out.execute('SELECT * FROM data_titanic_proc')
cursor_out.fetchall()

[(False, '0', 22.0, 1, 0, 7.25, '1', False, True),
 (True, '1', 38.0, 1, 0, 71.2833, '0', True, False),
 (True, '1', 26.0, 0, 0, 7.925, '1', False, True),
 (True, '1', 35.0, 1, 0, 53.1, '1', True, False),
 (False, '0', 35.0, 0, 0, 8.05, '1', False, True),
 (False, '0', 54.0, 0, 0, 51.8625, '1', True, False),
 (False, '0', 2.0, 3, 1, 21.075, '1', False, True),
 (True, '1', 27.0, 0, 2, 11.1333, '1', False, True),
 (True, '1', 14.0, 1, 0, 30.0708, '0', False, False),
 (True, '1', 4.0, 1, 1, 16.7, '1', False, True),
 (True, '1', 58.0, 0, 0, 26.55, '1', True, False),
 (False, '0', 20.0, 0, 0, 8.05, '1', False, True),
 (False, '0', 39.0, 1, 5, 31.275, '1', False, True),
 (False, '1', 14.0, 0, 0, 7.8542, '1', False, True),
 (True, '1', 55.0, 0, 0, 16.0, '1', False, False),
 (False, '0', 2.0, 4, 1, 29.125, '0', False, True),
 (False, '1', 31.0, 1, 0, 18.0, '1', False, True),
 (False, '0', 35.0, 0, 0, 26.0, '1', False, False),
 (True, '0', 34.0, 0, 0, 13.0, '1', False, False),
 (True, '1', 15.0, 0, 0, 8.0292, '0', False, True),
 (True, '0', 28.0, 0, 0, 35.5, '1', True, False),
 (False, '1', 8.0, 3, 1, 21.075, '1', False, True),
 (True, '1', 38.0, 1, 5, 31.3875, '1', False, True),
 (False, '0', 19.0, 3, 2, 263.0, '1', True, False),
 (False, '0', 40.0, 0, 0, 27.7208, '0', True, False),
 (False, '0', 66.0, 0, 0, 10.5, '1', False, False),
 (False, '0', 28.0, 1, 0, 82.1708, '0', True, False),
 (False, '0', 42.0, 1, 0, 52.0, '1', True, False),
 (False, '0', 21.0, 0, 0, 8.05, '1', False, True),
 (False, '1', 18.0, 2, 0, 18.0, '1', False, True),
 (True, '1', 14.0, 1, 0, 11.2417, '0', False, True),
 (False, '1', 40.0, 1, 0, 9.475, '1', False, True),
 (False, '1', 27.0, 1, 0, 21.0, '1', False, False),
 (True, '1', 3.0, 1, 2, 41.5792, '0', False, False),
 (True, '1', 19.0, 0, 0, 7.8792, '0', False, True),
 (False, '1', 18.0, 1, 0, 17.8, '1', False, True),
 (False, '0', 7.0, 4, 1, 39.6875, '1', False, True),
 (False, '0', 21.0, 0, 0, 7.8, '1', False, True),
 (True, '1', 49.0, 1, 0, 76.7292, '0', True, False),
 (True, '1', 29.0, 1, 0, 26.0, '1', False, False),
 (False, '0', 65.0, 0, 1, 61.9792, '0', True, False),
 (True, '1', 21.0, 0, 0, 10.5, '1', False, False),
 (False, '0', 28.0, 0, 0, 7.2292, '0', False, True),
 (True, '1', 5.0, 1, 2, 27.75, '1', False, False),
 (False, '0', 11.0, 5, 2, 46.9, '1', False, True),
 (False, '0', 22.0, 0, 0, 7.2292, '0', False, True),
 (False, '0', 45.0, 1, 0, 83.475, '1', True, False),
 (False, '0', 4.0, 3, 2, 27.9, '1', False, True),
 (True, '1', 29.0, 0, 0, 10.5, '1', False, False),
 (False, '0', 19.0, 0, 0, 8.1583, '1', False, True),
 (True, '1', 17.0, 4, 2, 7.925, '1', False, True),
 (False, '0', 26.0, 2, 0, 8.6625, '1', False, True),
 (False, '0', 32.0, 0, 0, 10.5, '1', False, False),
 (False, '1', 16.0, 5, 2, 46.9, '1', False, True),
 (False, '0', 21.0, 0, 0, 73.5, '1', False, False),
 (False, '0', 26.0, 1, 0, 14.4542, '0', False, True),
 (True, '0', 32.0, 0, 0, 56.4958, '1', False, True),
 (False, '0', 25.0, 0, 0, 7.65, '1', False, True),
 (True, '0', 0.0, 0, 2, 29.0, '1', False, False),
 (True, '1', 30.0, 0, 0, 12.475, '1', False, True),
 (False, '0', 22.0, 0, 0, 9.0, '1', False, True),
 (True, '0', 29.0, 0, 0, 9.5, '1', False, True),
 (False, '0', 28.0, 0, 0, 47.1, '1', True, False),
 (True, '1', 17.0, 0, 0, 10.5, '1', False, False),
 (True, '1', 33.0, 3, 0, 15.85, '1', False, True),
 (False, '0', 16.0, 1, 3, 34.375, '1', False, True),
 (True, '1', 23.0, 3, 2, 263.0, '1', True, False),
 (False, '0', 24.0, 0, 0, 8.05, '1', False, True),
 (False, '0', 29.0, 0, 0, 8.05, '1', False, True),
 (False, '0', 20.0, 0, 0, 7.8542, '1', False, True),
 (False, '0', 46.0, 1, 0, 61.175, '1', True, False),
 (False, '0', 26.0, 1, 2, 20.575, '1', False, True),
 (False, '0', 59.0, 0, 0, 7.25, '1', False, True),
 (False, '0', 71.0, 0, 0, 34.6542, '0', True, False),
 (True, '0', 23.0, 0, 1, 63.3583, '0', True, False),
 (True, '1', 34.0, 0, 1, 23.0, '1', False, False),
 (False, '0', 34.0, 1, 0, 26.0, '1', False, False),
 (False, '1', 28.0, 0, 0, 7.8958, '1', False, True),
 (False, '0', 21.0, 0, 1, 77.2875, '1', True, False),
 (False, '0', 33.0, 0, 0, 8.6542, '1', False, True),
 (False, '0', 37.0, 2, 0, 7.925, '1', False, True),
 (False, '0', 28.0, 0, 0, 7.8958, '1', False, True),
 (True, '1', 21.0, 0, 0, 7.65, '1', False, True),
 (False, '0', 38.0, 0, 0, 7.8958, '1', False, True),
 (False, '0', 47.0, 0, 0, 52.0, '1', True, False),
 (False, '1', 14.0, 1, 0, 14.4542, '0', False, True),
 (False, '0', 22.0, 0, 0, 8.05, '1', False, True),
 (False, '1', 20.0, 1, 0, 9.825, '1', False, True),
 (False, '1', 17.0, 0, 0, 14.4583, '0', False, True),
 (False, '0', 21.0, 0, 0, 7.925, '1', False, True),
 (False, '0', 70.0, 0, 0, 7.75, '0', False, True),
 (False, '0', 29.0, 1, 0, 21.0, '1', False, False),
 (False, '0', 24.0, 0, 1, 247.5208, '0', True, False),
 (False, '1', 2.0, 4, 2, 31.275, '1', False, True),
 (False, '0', 21.0, 2, 0, 73.5, '1', False, False),
 (False, '0', 32.0, 1, 0, 30.0708, '0', False, False),
 (True, '1', 32.0, 0, 0, 13.0, '1', False, False),
 (False, '0', 54.0, 0, 1, 77.2875, '1', True, False),
 (True, '0', 12.0, 1, 0, 11.2417, '0', False, True),
 (True, '0', 24.0, 0, 0, 7.1417, '1', False, True),
 (False, '0', 45.0, 0, 0, 6.975, '1', False, True),
 (False, '0', 33.0, 0, 0, 7.8958, '0', False, True),
 (False, '0', 20.0, 0, 0, 7.05, '1', False, True),
 (False, '1', 47.0, 1, 0, 14.5, '1', False, True),
 (True, '1', 29.0, 1, 0, 26.0, '1', False, False),
 (False, '0', 25.0, 0, 0, 13.0, '1', False, False),
 (False, '0', 23.0, 0, 0, 15.0458, '0', False, False),
 (True, '1', 19.0, 0, 2, 26.2833, '1', True, False),
 (False, '0', 37.0, 1, 0, 53.1, '1', True, False),
 (False, '0', 16.0, 0, 0, 9.2167, '1', False, True),
 (False, '0', 24.0, 0, 0, 79.2, '0', True, False),
 (True, '1', 22.0, 0, 0, 7.75, '1', False, True),
 (True, '1', 24.0, 1, 0, 15.85, '1', False, True),
 (False, '0', 19.0, 0, 0, 6.75, '0', False, True),
 (False, '0', 18.0, 0, 0, 11.5, '1', False, False),
 (False, '0', 19.0, 1, 1, 36.75, '1', False, False),
 (True, '0', 27.0, 0, 0, 7.7958, '1', False, True),
 (False, '1', 9.0, 2, 2, 34.375, '1', False, True),
 (False, '0', 36.0, 0, 2, 26.0, '1', False, False),
 (False, '0', 42.0, 0, 0, 13.0, '1', False, False),
 (False, '0', 51.0, 0, 0, 12.525, '1', False, False),
 (True, '1', 22.0, 1, 0, 66.6, '1', True, False),
 (False, '0', 55.0, 0, 0, 8.05, '1', False, True),
 (False, '0', 40.0, 0, 2, 14.5, '1', False, True),
 (False, '0', 51.0, 0, 1, 61.3792, '0', True, False),
 (True, '1', 16.0, 0, 0, 7.7333, '0', False, True),
 (False, '0', 30.0, 0, 0, 8.05, '1', False, True),
 (False, '0', 44.0, 0, 1, 16.1, '1', False, True),
 (True, '1', 40.0, 0, 0, 15.75, '1', False, False),
 (False, '0', 26.0, 0, 0, 7.775, '1', False, True),
 (False, '0', 17.0, 0, 0, 8.6625, '1', False, True),
 (False, '0', 1.0, 4, 1, 39.6875, '1', False, True),
 (True, '0', 9.0, 0, 2, 20.525, '1', False, True),
 (False, '1', 45.0, 1, 4, 27.9, '1', False, True),
 (False, '0', 28.0, 0, 0, 56.4958, '1', False, True),
 (False, '0', 61.0, 0, 0, 33.5, '1', True, False),
 (False, '0', 4.0, 4, 1, 29.125, '0', False, True),
 (True, '1', 1.0, 1, 1, 11.1333, '1', False, True),
 (False, '0', 21.0, 0, 0, 7.925, '1', False, True),
 (False, '0', 56.0, 0, 0, 30.6958, '0', True, False),
 (False, '0', 18.0, 1, 1, 7.8542, '1', False, True),
 (False, '1', 50.0, 0, 0, 28.7125, '0', True, False),
 (False, '0', 30.0, 0, 0, 13.0, '1', False, False),
 (False, '0', 36.0, 0, 0, 0.0, '1', False, True),
 (False, '0', 9.0, 4, 2, 31.3875, '1', False, True),
 (True, '0', 1.0, 2, 1, 39.0, '1', False, False),
 (True, '1', 4.0, 0, 2, 22.025, '1', False, True),
 (True, '0', 45.0, 0, 0, 26.55, '1', True, False),
 (False, '0', 40.0, 1, 1, 15.5, '0', False, True),
 (False, '0', 36.0, 0, 0, 7.8958, '1', False, True),
 (True, '1', 32.0, 0, 0, 13.0, '1', False, False),
 (False, '0', 19.0, 0, 0, 13.0, '1', False, False),
 (True, '1', 19.0, 1, 0, 7.8542, '1', False, True),
 (True, '0', 3.0, 1, 1, 26.0, '1', False, False),
 (True, '1', 44.0, 0, 0, 27.7208, '0', True, False),
 (True, '1', 58.0, 0, 0, 146.5208, '0', True, False),
 (False, '0', 42.0, 0, 1, 8.4042, '1', False, True),
 (False, '1', 24.0, 0, 0, 13.0, '1', False, False),
 (False, '0', 28.0, 0, 0, 9.5, '1', False, True),
 (False, '0', 34.0, 0, 0, 6.4958, '1', False, True),
 (False, '0', 45.0, 0, 0, 7.225, '0', False, True),
 (True, '0', 18.0, 0, 0, 8.05, '1', False, True),
 (False, '1', 2.0, 0, 1, 10.4625, '1', False, True),
 (False, '0', 32.0, 1, 0, 15.85, '1', False, True),
 (True, '0', 26.0, 0, 0, 18.7875, '0', False, True),
 (True, '1', 16.0, 0, 0, 7.75, '0', False, True),
 (True, '0', 40.0, 0, 0, 31.0, '0', True, False),
 (False, '0', 24.0, 0, 0, 7.05, '1', False, True),
 (True, '1', 35.0, 0, 0, 21.0, '1', False, False),
 (False, '0', 22.0, 0, 0, 7.25, '1', False, True),
 (False, '0', 30.0, 0, 0, 13.0, '1', False, False),
 (True, '1', 31.0, 1, 0, 113.275, '0', True, False),
 (True, '1', 27.0, 0, 0, 7.925, '1', False, True),
 (False, '0', 42.0, 1, 0, 27.0, '1', False, False),
 (True, '1', 32.0, 0, 0, 76.2917, '0', True, False),
 (False, '0', 30.0, 0, 0, 10.5, '1', False, False),
 (True, '0', 16.0, 0, 0, 8.05, '1', False, True),
 (False, '0', 27.0, 0, 0, 13.0, '1', False, False),
 (False, '0', 51.0, 0, 0, 8.05, '1', False, True),
 (True, '0', 38.0, 1, 0, 90.0, '1', True, False),
 (False, '0', 22.0, 0, 0, 9.35, '1', False, True),
 (True, '0', 19.0, 0, 0, 10.5, '1', False, False),
 (False, '0', 20.0, 0, 0, 7.25, '1', False, True),
 (False, '0', 18.0, 0, 0, 13.0, '1', False, False),
 (True, '1', 35.0, 1, 0, 83.475, '1', True, False),
 (False, '0', 29.0, 0, 0, 7.775, '1', False, True),
 (False, '0', 59.0, 0, 0, 13.5, '1', False, False),
 (True, '1', 5.0, 4, 2, 31.3875, '1', False, True),
 (False, '0', 24.0, 0, 0, 10.5, '1', False, False),
 (False, '0', 44.0, 1, 0, 26.0, '1', False, False),
 (True, '1', 8.0, 0, 2, 26.25, '1', False, False),
 (False, '0', 19.0, 0, 0, 10.5, '1', False, False),
 (False, '0', 33.0, 0, 0, 12.275, '1', False, False),
 (False, '0', 29.0, 0, 0, 10.5, '1', False, False),
 (False, '0', 22.0, 0, 0, 7.125, '1', False, True),
 (False, '0', 30.0, 0, 0, 7.225, '0', False, True),
 (False, '0', 44.0, 2, 0, 90.0, '0', True, False),
 (False, '1', 25.0, 0, 0, 7.775, '1', False, True),
 (True, '1', 24.0, 0, 2, 14.5, '1', False, False),
 (True, '0', 37.0, 1, 1, 52.5542, '1', True, False),
 (False, '0', 54.0, 1, 0, 26.0, '1', False, False),
 (False, '1', 29.0, 1, 1, 10.4625, '1', False, True),
 (False, '0', 62.0, 0, 0, 26.55, '1', True, False),
 (False, '0', 30.0, 1, 0, 16.1, '1', False, True),
 (False, '1', 41.0, 0, 2, 20.2125, '1', False, True),
 (True, '1', 29.0, 0, 2, 15.2458, '0', False, True),
 (True, '1', 30.0, 0, 0, 86.5, '1', True, False),
 (True, '1', 35.0, 0, 0, 512.3292, '0', True, False),
 (True, '1', 50.0, 0, 1, 26.0, '1', False, False),
 (True, '0', 3.0, 4, 2, 31.3875, '1', False, True),
 (False, '0', 52.0, 1, 1, 79.65, '1', True, False),
 (False, '0', 40.0, 0, 0, 0.0, '1', True, False),
 (False, '0', 36.0, 0, 0, 10.5, '1', False, False),
 (False, '0', 16.0, 4, 1, 39.6875, '1', False, True),
 (True, '0', 25.0, 1, 0, 7.775, '1', False, True),
 (True, '1', 58.0, 0, 1, 153.4625, '1', True, False),
 (True, '1', 35.0, 0, 0, 135.6333, '1', True, False),
 (True, '0', 25.0, 0, 0, 0.0, '1', False, True),
 (True, '1', 41.0, 0, 1, 19.5, '1', False, False),
 (False, '0', 37.0, 0, 1, 29.7, '0', True, False),
 (True, '1', 63.0, 1, 0, 77.9583, '1', True, False),
 (False, '1', 45.0, 0, 0, 7.75, '1', False, True),
 (False, '0', 7.0, 4, 1, 29.125, '0', False, True),
 (True, '1', 35.0, 1, 1, 20.25, '1', False, True),
 (False, '0', 65.0, 0, 0, 7.75, '0', False, True),
 (False, '0', 28.0, 0, 0, 7.8542, '1', False, True),
 (False, '0', 16.0, 0, 0, 9.5, '1', False, True),
 (True, '0', 19.0, 0, 0, 8.05, '1', False, True),
 (False, '0', 33.0, 0, 0, 8.6625, '0', False, True),
 (True, '0', 30.0, 0, 0, 9.5, '1', False, True),
 (False, '0', 22.0, 0, 0, 7.8958, '1', False, True),
 (True, '0', 42.0, 0, 0, 13.0, '1', False, False),
 (True, '1', 22.0, 0, 0, 7.75, '0', False, True),
 (True, '1', 26.0, 0, 0, 78.85, '1', True, False),
 (True, '1', 19.0, 1, 0, 91.0792, '0', True, False),
 (False, '0', 36.0, 0, 0, 12.875, '0', False, False),
 (False, '1', 24.0, 0, 0, 8.85, '1', False, True),
 (False, '0', 24.0, 0, 0, 7.8958, '1', False, True),
 (False, '0', 23.0, 0, 0, 7.2292, '0', False, True),
 (False, '1', 2.0, 1, 2, 151.55, '1', True, False),
 (True, '1', 50.0, 0, 1, 247.5208, '0', True, False),
 (False, '0', 19.0, 0, 0, 0.0, '1', False, True),
 (True, '0', 0.0, 1, 2, 151.55, '1', True, False),
 (True, '1', 17.0, 1, 0, 108.9, '0', True, False),
 (False, '0', 30.0, 1, 0, 24.0, '0', False, False),
 (True, '1', 30.0, 0, 0, 56.9292, '0', True, False),
 (True, '1', 24.0, 0, 0, 83.1583, '0', True, False),
 (True, '1', 18.0, 2, 2, 262.375, '0', True, False),
 (False, '1', 26.0, 1, 1, 26.0, '1', False, False),
 (False, '0', 28.0, 0, 0, 7.8958, '1', False, True),
 (False, '0', 43.0, 1, 1, 26.25, '1', False, False),
 (True, '1', 26.0, 0, 0, 7.8542, '1', False, True),
 (True, '1', 24.0, 1, 0, 26.0, '1', False, False),
 (False, '0', 54.0, 0, 0, 14.0, '1', False, False),
 (True, '1', 31.0, 0, 2, 164.8667, '1', True, False),
 (True, '1', 40.0, 1, 1, 134.5, '0', True, False),
 (False, '0', 22.0, 0, 0, 7.25, '1', False, True),
 (False, '0', 27.0, 0, 0, 7.8958, '1', False, True),
 (True, '1', 30.0, 0, 0, 12.35, '0', False, False),
 (True, '1', 22.0, 1, 1, 29.0, '1', False, False),
 (True, '1', 36.0, 0, 0, 135.6333, '0', True, False),
 (False, '0', 61.0, 0, 0, 6.2375, '1', False, True),
 (True, '1', 36.0, 0, 0, 13.0, '1', False, False),
 (True, '1', 31.0, 1, 1, 20.525, '1', False, True),
 (True, '1', 16.0, 0, 1, 57.9792, '0', True, False),
 (False, '0', 45.0, 0, 0, 28.5, '1', True, False),
 (False, '0', 38.0, 0, 1, 153.4625, '1', True, False),
 (False, '0', 16.0, 2, 0, 18.0, '1', False, True),
 (False, '0', 29.0, 1, 0, 66.6, '1', True, False),
 (True, '1', 41.0, 0, 0, 134.5, '0', True, False),
 (True, '0', 45.0, 0, 0, 8.05, '1', False, True),
 (False, '0', 45.0, 0, 0, 35.5, '1', True, False),
 (True, '0', 2.0, 1, 1, 26.0, '1', False, False),
 (True, '1', 24.0, 3, 2, 263.0, '1', True, False),
 (False, '0', 28.0, 0, 0, 13.0, '1', False, False),
 (False, '0', 25.0, 0, 0, 13.0, '1', False, False),
 (False, '0', 36.0, 0, 0, 13.0, '1', False, False),
 (True, '1', 24.0, 0, 0, 13.0, '1', False, False),
 (True, '1', 40.0, 0, 0, 13.0, '1', False, False),
 (True, '0', 3.0, 1, 1, 15.9, '1', False, True),
 (False, '0', 42.0, 0, 0, 8.6625, '1', False, True),
 (False, '0', 23.0, 0, 0, 9.225, '1', False, True),
 (False, '0', 15.0, 1, 1, 7.2292, '0', False, True),
 (False, '0', 25.0, 1, 0, 17.8, '1', False, True),
 (False, '0', 28.0, 0, 0, 9.5, '1', False, True),
 (True, '1', 22.0, 0, 1, 55.0, '1', True, False),
 (False, '1', 38.0, 0, 0, 13.0, '1', False, False),
 (False, '0', 40.0, 1, 4, 27.9, '1', False, True),
 (False, '0', 29.0, 1, 0, 27.7208, '0', False, False),
 (False, '1', 45.0, 0, 1, 14.4542, '0', False, True),
 (False, '0', 35.0, 0, 0, 7.05, '1', False, True),
 (False, '0', 30.0, 0, 0, 7.25, '1', False, True),
 (True, '1', 60.0, 1, 0, 75.25, '0', True, False),
 (True, '1', 24.0, 0, 0, 69.3, '0', True, False),
 (True, '0', 25.0, 1, 0, 55.4417, '0', True, False),
 (False, '0', 18.0, 1, 0, 6.4958, '1', False, True),
 (False, '0', 19.0, 0, 0, 8.05, '1', False, True),
 (False, '0', 22.0, 0, 0, 135.6333, '0', True, False),
 (False, '1', 3.0, 3, 1, 21.075, '1', False, True),
 (True, '1', 22.0, 0, 0, 7.25, '1', False, True),
 (False, '0', 27.0, 0, 2, 211.5, '0', True, False),
 (False, '0', 20.0, 0, 0, 4.0125, '0', False, True),
 (False, '0', 19.0, 0, 0, 7.775, '1', False, True),
 (True, '1', 42.0, 0, 0, 227.525, '0', True, False),
 (True, '1', 1.0, 0, 2, 15.7417, '0', False, True),
 (False, '0', 32.0, 0, 0, 7.925, '1', False, True),
 (True, '1', 35.0, 1, 0, 52.0, '1', True, False),
 (False, '0', 18.0, 0, 0, 73.5, '1', False, False),
 (False, '0', 1.0, 5, 2, 46.9, '1', False, True),
 (True, '1', 36.0, 0, 0, 13.0, '1', False, False),
 (True, '1', 17.0, 0, 0, 12.0, '0', False, False),
 (True, '0', 36.0, 1, 2, 120.0, '1', True, False),
 (True, '0', 21.0, 0, 0, 7.7958, '1', False, True),
 (False, '0', 28.0, 2, 0, 7.925, '1', False, True),
 (True, '1', 23.0, 1, 0, 113.275, '0', True, False),
 (True, '1', 24.0, 0, 2, 16.7, '1', False, True),
 (False, '0', 22.0, 0, 0, 7.7958, '1', False, True),
 (False, '1', 31.0, 0, 0, 7.8542, '1', False, True),
 (False, '0', 46.0, 0, 0, 26.0, '1', False, False),
 (False, '0', 23.0, 0, 0, 10.5, '1', False, False),
 (True, '1', 28.0, 0, 0, 12.65, '1', False, False),
 (True, '0', 39.0, 0, 0, 7.925, '1', False, True),
 (False, '0', 26.0, 0, 0, 8.05, '1', False, True),
 (False, '1', 21.0, 1, 0, 9.825, '1', False, True),
 (False, '0', 28.0, 1, 0, 15.85, '1', False, True),
 (False, '1', 20.0, 0, 0, 8.6625, '1', False, True),
 (False, '0', 34.0, 1, 0, 21.0, '1', False, False),
 (False, '0', 51.0, 0, 0, 7.75, '1', False, True),
 (True, '0', 3.0, 1, 1, 18.75, '1', False, False),
 (False, '0', 21.0, 0, 0, 7.775, '1', False, True),
 (True, '1', 33.0, 1, 0, 90.0, '0', True, False),
 (True, '0', 44.0, 0, 0, 7.925, '1', False, True),
 (True, '1', 34.0, 1, 1, 32.5, '1', False, False),
 (True, '1', 18.0, 0, 2, 13.0, '1', False, False),
 (False, '0', 30.0, 0, 0, 13.0, '1', False, False),
 (False, '1', 10.0, 0, 2, 24.15, '1', False, True),
 (False, '0', 21.0, 0, 0, 7.7333, '0', False, True),
 (False, '0', 29.0, 0, 0, 7.875, '1', False, True),
 (False, '1', 28.0, 1, 1, 14.4, '1', False, True),
 (False, '0', 18.0, 1, 1, 20.2125, '1', False, True),
 (True, '1', 28.0, 1, 0, 26.0, '1', False, False),
 (True, '1', 19.0, 0, 0, 26.0, '1', False, False),
 (True, '0', 32.0, 0, 0, 8.05, '1', False, True),
 (True, '0', 28.0, 0, 0, 26.55, '1', True, False),
 (True, '1', 42.0, 1, 0, 26.0, '1', False, False),
 (False, '0', 17.0, 0, 0, 7.125, '1', False, True),
 (False, '0', 50.0, 1, 0, 55.9, '1', True, False),
 (True, '1', 14.0, 1, 2, 120.0, '1', True, False),
 (False, '1', 21.0, 2, 2, 34.375, '1', False, True),
 (True, '1', 24.0, 2, 3, 18.75, '1', False, False),
 (False, '0', 64.0, 1, 4, 263.0, '1', True, False),
 (False, '0', 31.0, 0, 0, 10.5, '1', False, False),
 (True, '1', 45.0, 1, 1, 26.25, '1', False, False),
 (False, '0', 20.0, 0, 0, 9.5, '1', False, True),
 (False, '0', 25.0, 1, 0, 7.775, '1', False, True),
 (True, '1', 28.0, 0, 0, 13.0, '1', False, False),
 (True, '0', 4.0, 0, 2, 81.8583, '1', True, False),
 (True, '1', 13.0, 0, 1, 19.5, '1', False, False),
 (True, '0', 34.0, 0, 0, 26.55, '1', True, False),
 (True, '1', 5.0, 2, 1, 19.2583, '0', False, True),
 (True, '0', 52.0, 0, 0, 30.5, '1', True, False),
 (False, '0', 36.0, 1, 2, 27.75, '1', False, False),
 (False, '0', 30.0, 0, 0, 27.75, '0', True, False),
 (True, '0', 49.0, 1, 0, 89.1042, '0', True, False),
 (True, '0', 29.0, 0, 0, 7.8958, '0', False, True),
 (False, '0', 65.0, 0, 0, 26.55, '1', True, False),
 (True, '1', 50.0, 0, 0, 10.5, '1', False, False),
 (True, '0', 48.0, 0, 0, 26.55, '1', True, False),
 (False, '0', 34.0, 0, 0, 8.05, '1', False, True),
 (False, '0', 47.0, 0, 0, 38.5, '1', True, False),
 (False, '0', 48.0, 0, 0, 13.0, '1', False, False),
 (False, '0', 38.0, 0, 0, 7.05, '1', False, True),
 (False, '0', 56.0, 0, 0, 26.55, '1', True, False),
 (True, '1', 0.0, 2, 1, 19.2583, '0', False, True),
 (False, '0', 38.0, 0, 0, 8.6625, '1', False, True),
 (True, '1', 33.0, 1, 2, 27.75, '1', False, False),
 (True, '1', 23.0, 0, 0, 13.7917, '0', False, False),
 (False, '1', 22.0, 0, 0, 9.8375, '1', False, True),
 (False, '0', 34.0, 1, 0, 21.0, '1', False, False),
 (False, '0', 29.0, 1, 0, 7.0458, '1', False, True),
 (False, '0', 22.0, 0, 0, 7.5208, '1', False, True),
 (True, '1', 2.0, 0, 1, 12.2875, '1', False, True),
 (False, '0', 9.0, 5, 2, 46.9, '1', False, True),
 (False, '0', 50.0, 0, 0, 8.05, '1', False, True),
 (True, '1', 63.0, 0, 0, 9.5875, '1', False, True),